{% extends 'base.html' %}
{% load static %}

{% block title_tag %}About | Southeastern PA Cold Way Society{% endblock %}

{% block content %}

<main id="main">
    <!-- ======= Breadcrumbs ======= -->
    <div class="breadcrumbs" data-aos="fade-in">
      <div class="container">
        <h2>About Us</h2>
        {% comment %} <p>Est dolorum ut non facere possimus quibusdam eligendi voluptatem. Quia id aut similique quia voluptas sit quaerat debitis. Rerum omnis ipsam aperiam consequatur laboriosam nemo harum praesentium. </p> {% endcomment %}
      </div>
    </div><!-- End Breadcrumbs -->

    <!-- ======= About Section ======= -->
    <section id="about-us" class="about">
      <div class="container" data-aos="fade-up">

        <div class="row">
          <div class="col-lg-6 pt-4 pt-lg-0 content">
          <div class="section-title">
            <h2>Who We Are</h2>
          </div>
            <p class="font-italic">
                The Southeastern Pennsylvania Cold War Historical Society was founded in 2010 by a group of motivated women dedicated to preserving the contributions that current/former residents of 
                southeastern Pennsylvania (and nearby regions) made toward protecting the United States during the Cold War. 
            </p>

          </div>
          <div class="col-lg-6 pt-4 pt-lg-0 mb-4 content">
          <div class="section-title">
            <h2>What We Do</h2>
          </div>
            <p class="font-italic">
              The Southeastern Pennsylvania Cold War Historical Society`s primary mission is to engage in collecting and preserving oral histories from current and former residents of southeastern 
              Pennsylvania who contributed to activities aimed at protecting the United States during the Cold War.
            </p>

          </div>
          
          <div class="col-lg-12 pt-4 pt-lg-0 mb-4 content">
          <div class="section-title">
            <h2>About Our Logo</h2>
          </div>
            <div class="row">
              <div class="col-lg-8 order-2 order-lg-1">
                <p>
                  In 2012, our organization held a logo contest with home-schooled children from the Lancaster, PA area. The contest was coordinated with Sam Mylin, the local art teacher in Lancaster.
                </p>
                <p class="font-italic">Submitted designs fell into three “themes”:</p>
                <ul>
                  <li><i class="icofont-check-circled"></i> Nuclear war/Nuclear threat</li>
                  <li><i class="icofont-check-circled"></i> Patriotic/ US vs Soviet flags</li>
                  <li><i class="icofont-check-circled"></i> Ice and snow, playing off the “cold” in Cold War</li>
                </ul>
                <p>The winning logo was chosen by our organization based on how well many Cold War elements were integrated into one design. The student logo contest winner was awarded a gift certificate. 
                  A graphic designer refined the winning logo design that identifies our organization today. 
                </p>
              </div>
              <div class="col-lg-4 order-1 order-lg-2">
                <img src="{% static 'img/about-our-logo.jpg' %}" class="img-fluid">
                <small>Examples of the submitted logo designs. Photo: E. O’Rangers</small>
              </div>
              
              <div class="col-lg-12 order-3 order-lg-3">
                <div class="row about-our-logo text-center">
                  <div class="col-md-4">
                    <img src="{% static 'img/logo-round.png' %}" class="img-fluid">
                  </div>
                  <div class="col-md-4">
                    <img src="{% static 'img/logo-horiz.png' %}" class="img-fluid" style="margin-top:20px">
                  </div>
                  <div class="col-md-4">
                    <img src="{% static 'img/logo-bw.png' %}" class="img-fluid">
                  </div>
                </div>
              </div>
            </div>

          </div>    
          <a name="oralHistory"></a>
          <div class="col-lg-12 pt-4 pt-lg-0 content">
          <div class="section-title">
            <h2>What Is Oral History?</h2>
          </div>
            <p>
              Oral history is the collection and recording of personal memoirs as historical documentation. It documents forms of discourse normally not documented and it emphasizes the significance of human experience.
            </p>
            <p>
                Oral history is the best method to use to get an idea not only of what happened, but what past times meant to people and how it felt to be a part of those times.            
            </p>
            <p>
              Oral history involves eyewitness accounts and reminiscences about events and experiences which occurred during the lifetime of the person being interviewed. When we ask people to talk about the past, we are 
              asking them to tell us stories from memory. When they do, they often select and emphasize certain features while minimizing others. People do this to personalize their stories for the listener, to make the story relevant to today, 
              or to make sense of their experiences.
            </p>
            <p class="font-italic">
              In addition to providing an added dimension to historical research, an oral history project can:
            </p>
            <ul>
              <li><i class="icofont-check-circled"></i> Foster appreciation for little-known or rapidly vanishing ways of life</li>
              <li><i class="icofont-check-circled"></i> Verify the historicity of events which cannot be determined by traditional methods of historical research</li>
              <li><i class="icofont-check-circled"></i> Correct stereotypical images of lifeways and people</li>
              <li><i class="icofont-check-circled"></i> Recover and preserve important aspects of a human experience that would otherwise go undocumented</li>
            </ul>
            <p>
                Collecting, preserving, and sharing oral histories not only transmits knowledge from one generationto the next, it enhances our understanding of the past by illuminating personal experience.        
            </p>
            <p class="font-italic"><strong>The real record of history is found in the lives of ordinary people who lived it.</strong></p>
            <div class="text-center">
              <small>Adapted from the Texas Historical Commission's Fundamentals of Oral History: <a href="https://www.thc.texas.gov/public/upload/publications/OralHistory.pdf">Texas Preservation Guidelines</a>
            </div>
            <div class="col-lg-12 mt-5 pt-4 pt-lg-0 content text-center">
                <a href="{% url 'oral_histories' %}" class="btn btn-danger btn-lg">Our Oral Histories Project</a>
            </div>
          </div>
        </div>

      </div>
    </section><!-- End About Section -->

    <!-- ======= About Section ======= -->
    <section id="about" class="about">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Volunteers</h2>
          <p>Leadership</p>
        </div>

        <div class="row">
          <div class="col-lg-6 order-1 order-lg-2" data-aos="fade-left" data-aos-delay="100">
            <img src="{% static 'img/volunteer-eleanor.jpg' %}" class="img-fluid" alt="">
          </div>
          <div class="col-lg-6 pt-4 pt-lg-0 order-2 order-lg-1 content">
            <h3>Eleanor A. O'Rangers</h3>
            <p>
              A clinical pharmacist by training, with a subspecialization in cardiovascular pharmacology, Eleanor has worked in the pharmaceutical industry 
              as a medical director for a major pharmaceutical brand and also served as a field-based scientist. She continues to work as a scientific strategist/content expert 
              for a number of pharmaceutical clients.
            </p>
            <p>
              Eleanor volunteers twice monthly at the National Air and Space Museum in Washington, D.C. where she has been a docent since 1995. She considers it a privilege to 
              educate the public on the history of U.S. aviation and spaceflight and is delighted by engaged tour participants, particularly children.
            </p>
          </div>
          <div class="col-lg-12 pt-4 pt-lg-0 order-3 order-lg-3 content">
            <p>
                Eleanor is a co-founding member and CEO of Space Medicine Associates, LLC (<a href="http://www.spacemedicineassociates.com">www.spacemedicineassociates.com</a>), whose mission is to 
                provide multidisciplinary space medicine and bioastronautics consultation, training and oversight in support of all aspects of off-world travel. Serving both the commercial launch industry 
                and the personal space traveler, SMA endeavors to safely open human spaceflight to as many individuals as possible.
            </p>
            <p>
                Eleanor is an alumnus of McDonald Elementary in Warminster, PA which she attended from grades 2-6. As a child, she recalls her father taking her and her brother to open houses at NADC 
                Johnsville. Having grown up literally down the street from the base, Johnsville was always fascinating to Eleanor. She’s honored to be capturing the stories of the people who worked there… 
                and others from the community who served the nation admirably during the Cold War and beyond
            </p>
          </div>
        </div>

      </div>
    </section><!-- End About Section -->

  </main><!-- End #main -->


{% endblock content %}