{% extends 'base.html' %}
{% load static %}

{% block headscript %}
<link href="{% static 'vendor/venobox/venobox.min.css' %}" rel="stylesheet">
{% endblock headscript %}

{% block title_tag %}Events | Other Activities {% endblock %}

{% block content %}

<main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <div class="breadcrumbs" data-aos="fade-in">
      <div class="container">
        <h2>Events : Other Activities</h2>
      </div>
    </div><!-- End Breadcrumbs -->


    <!-- ======= Events Section ======= -->
    <section id="dfs-page" class="events">
      <div class="container" data-aos="fade-up">
        <p><strong>&ldquo;Johnsville Through the Years&rdquo;</strong></p>
        <p>From 2012 to 2013, The Southeastern Pennsylvania Cold War Historical Society briefly maintained a display cabinet entitled, "Johnsville Through the Years", located at the <strong><a href="https://wingsoffreedommuseum.org/wp/">Wings of Freedom Aviation Museum</a>, </strong>Horsham, PA</p>
        <p>We rotated exhibits in the cabinet highlighting various aspects of the former Naval Air Development Center, Warminster, PA, including employees, departments, and projects.</p>
        <p>Displays included the following:</p>
        <ul>
        <li>The Computer Department at the Naval Air Development Center, Warminster, PA</li>
        <li>The Development of Nomex, as Spearheaded by Alice Stoll, Biophysicist</li>
        <li>Airborne Early Warning (AEW) Radar System: Beginnings and Integration as Experienced by Walter Raymond &ldquo;Gus&rdquo; Gustafson</li>
          <div class="row">
            <div class="col-md-3 other-img">
              <a href="{% static 'img/events/computer-department.jpg' %}" class="venobox" data-gall="portfolioGallery"><img alt="" src="{% static 'img/events/computer-department.jpg' %}"></a>
            </div>
            <div class="col-md-3 other-img">
              <a href="{% static 'img/events/nomex.jpg' %}" class="venobox" data-gall="portfolioGallery"><img alt="" src="{% static 'img/events/nomex.jpg' %}"></a>
            </div>
            <div class="col-md-3 other-img">
              <a href="{% static 'img/events/gustafson.jpg' %}" class="venobox" data-gall="portfolioGallery"><img alt="" src="{% static 'img/events/gustafson.jpg' %}"></a>
            </div>

          </div>

        </ul>
        <p><strong>83<sup>rd</sup> Annual Scientific Meeting of the Aerospace Medical Association </strong></p>
        <p>The Southeastern Pennsylvania Cold War Historical Society&rsquo;s President, Eleanor O&rsquo;Rangers, delivered an oral presentation entitled, &ldquo;DOCUMENTING PIONEERING HIGH-G PHYSIOLOGY RESEARCH THROUGH ORAL HISTORIES&rdquo; during the 83<sup>rd</sup> Annual Scientific Meeting of the Aerospace Medical Association in May, 2012 in Atlanta, GA.</p>
        <p>The presentation&rsquo;s objectives were to:</p>
        <ul>
        <li>Create awareness of the efforts of the Southeastern Pennsylvania Cold War Historical Society and its ongoing oral history preservation efforts.</li>
        <li>Pay tribute to the military and space program advancements accomplished at the Aviation Medical Acceleration Laboratory in Warminster, PA</li>
        <li>Inspire future generations to pursue science and research careers.</li>
        </ul>
        <p>It was a surprise to have several audience members approach Eleanor following the presentation to congratulate her and to reveal that they had worked in Warminster at the Aviation Medical Acceleration Laboratory (aka the Dynamic Flight Simulator/Johnsville Centrifuge)!</p>
        <div class="other-img">
            <a href="{% static 'img/events/medical_assoc.jpg' %}" class="venobox" data-gall="portfolioGallery"><img alt="" src="{% static 'img/events/medical_assoc.jpg' %}" style="width:auto;"></a>
        </div>    
        <p><strong>Invited presentations/Displays</strong></p>
        <p>Our organization has been invited to present to various local organizations over the years. If you are interested in scheduling a presentation or display, please<strong> <a href="http://www.coldwarhistory.org/contact-us">contact us</a></strong></p>
        <ul>
        <li>Displays
        <ul>
        <li>Mercer Museum (display table)</li>
        <li>Warminster Day (display table)</li>
        <li>Warminster Free Library (display cabinet)</li>
          <div class="row">
            <div class="col-md-3 other-img">
              <a href="{% static 'img/events/warminster-free-library-display.jpg' %}" class="venobox" data-gall="portfolioGallery"><img alt="" src="{% static 'img/events/warminster-free-library-display.jpg' %}"></a>
            </div>
            <div class="col-md-3 other-img">
              <a href="{% static 'img/events/mercer_display1.jpg' %}" class="venobox" data-gall="portfolioGallery"><img alt="" src="{% static 'img/events/mercer_display1.jpg' %}"></a>
            </div>
            <div class="col-md-3 other-img">
              <a href="{% static 'img/events/mercer_display2.jpg' %}" class="venobox" data-gall="portfolioGallery"><img alt="" src="{% static 'img/events/mercer_display2.jpg' %}"></a>
            </div>
            <div class="col-md-3 other-img">
              <a href="{% static 'img/events/mercer_display3.jpg' %}" class="venobox" data-gall="portfolioGallery"><img alt="" src="{% static 'img/events/mercer_display3.jpg' %}"></a>
            </div>

          </div>
        </ul>
        </li>
        </ul>
        <ul>
        <li>Presentations
        <ul>
        <li>Doylestown Historical Society</li>
        <li>Hilltown Historical Society</li>
        <li>NARFE Chapter 0740, Doylestown, PA</li>
        <li>Neshaminy Questers, Ivyland, PA</li>
        <li>Rotary Club of Warminster, PA</li>
        <li>Rotary Club of Warrington, PA</li>
        <li>Warminster Free Library (webinar)</li>
          <div class="row">
            <div class="col-md-3 other-img">
              <a href="{% static 'img/events/doylestown-historical-society.jpg' %}" class="venobox" data-gall="portfolioGallery"><img alt="" src="{% static 'img/events/doylestown-historical-society.jpg' %}"></a>
            </div>
            <div class="col-md-3 other-img">
              <a href="{% static 'img/events/hilltown-historical-society.jpg' %}" class="venobox" data-gall="portfolioGallery"><img alt="" src="{% static 'img/events/hilltown-historical-society.jpg' %}"></a>
            </div>
            <div class="col-md-3 other-img">
              <a href="{% static 'img/events/warrington-rotary.jpg' %}" class="venobox" data-gall="portfolioGallery"><img alt="" src="{% static 'img/events/warrington-rotary.jpg' %}"></a>
            </div>

          </div>


        </ul>
        </li>
        <li>Other Special Events
        <ul>
        <li>&ldquo;Apollo 50&rdquo; at the Fuge</li>
          <div class="other-img">
            <a href="{% static 'img/events/apollo50.jpg' %}" class="venobox" data-gall="portfolioGallery"><img alt="" src="{% static 'img/events/apollo50.jpg' %}"></a>
          </div>        
        
        </li>

        <li>
          Celebrating John Glenn’s Centennial in Cambridge and New Concord, OH, July 16-18, 2021
          <p style="margin-top:10px;">In addition to interviewing author Alice George ("The Last American Hero: The Remarkable Life of John Glenn"), we also had the opportunity to present on John Glenn's centrifuge training in Warminster, PA prior to his Mercury flight.</p>
          <div class="row">
            <div class="col-md-4 other-img text-center">
              <a href="{% static 'img/events/img_2441.jpg' %}" class="venobox" data-gall="portfolioGallery"><img style="padding-bottom:0px" alt="" src="{% static 'img/events/img_2441.jpg' %}"></a>
              <p style="margin-top:0px;">Some “merch” from the Centennial</p>
            </div>
            <div class="col-md-4 other-img text-center">
              <a href="{% static 'img/events/img_2445.jpg' %}" class="venobox" data-gall="portfolioGallery"><img style="padding-bottom:0px; object-fit:contain;" alt="" src="{% static 'img/events/img_2445.jpg' %}"></a>
              <p style="margin-top:0px;">Rick Booth-- organizer of the John Glenn Centennial</p>
            </div>
            <div class="col-md-4 other-img text-center">
              <a href="{% static 'img/events/img_2451.jpg' %}" class="venobox" data-gall="portfolioGallery"><img style="padding-bottom:0px" alt="" src="{% static 'img/events/img_2451.jpg' %}"></a>
              <p style="margin-top:0px;">Astronaut Don Thomas (center) flanked by SE PA Cold War Society's President Eleanor O'Rangers (right, in red, white and blue) and her friend, Christine Estacion.</p>
            </div>


            <div class="col-md-6 other-img text-center">
              <a href="{% static 'img/events/img_2448.jpg' %}" class="venobox" data-gall="portfolioGallery"><img style="padding-bottom:0px" alt="" src="{% static 'img/events/img_2448.jpg' %}"></a>
              <p>Author and astronaut panel, John Glenn Centennial - July 16-18, 2021. Left to right: Rick Booth, moderator (and Centennial organizer), author Alice George ("The Last American Hero- the Remarkable Life of John Glenn"), author Jeff Sheshol ("Mercury Rising: John Glenn, John Kennedy and the New Battleground of the Cold War") and Ohio astronaut Don Thomas (who gave a wonderful and amusing talk.)</p>
            </div>


            <div class="col-md-6 other-img text-center ">
              <a href="{% static 'img/events/img_2447.jpg' %}" class="venobox" data-gall="portfolioGallery"><img style="padding-bottom:0px" alt="" src="{% static 'img/events/img_2447.jpg' %}"></a>
              <p style="margin-top:0px;">Ohio aerospace symbolism on a fabulous commemorative patch! From the top left, clockwise: Neil Armstrong, NASA Glenn Research Center, Cambridge/New Concord (birthplace and childhood homes of John Glenn), The Ohio state flag, and the Wright Flyer to symbolize Dayton (the Wright Bros birthplace.)</p>
            </div>
          </div>
        </li>

        </ul>
      </div>
    </section><!-- End Events Section -->

  </main><!-- End #main -->

{% endblock content %}


{% block footscript %}
  <script src="{% static 'vendor/venobox/venobox.min.js' %}"></script>
{% endblock footscript %}
