{% extends 'base.html' %}
{% load static %}
{% block title_tag %}Events | Annual Veterans Tribute {% endblock %}
{% block headscript %}
<link href="{% static 'vendor/venobox/venobox.min.css' %}" rel="stylesheet">
{% endblock headscript %}

{% block content %}

<main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <div class="breadcrumbs" data-aos="fade-in">
      <div class="container">
        <h2>Events : Annual Veterans Tribute</h2>
      </div>
    </div><!-- End Breadcrumbs -->

    <!-- ======= Events Section ======= -->
    <section id="dfs-page" class="events">
      <div class="container" data-aos="fade-up">
        <div class="mb-4">{{description|safe}}</div>
        <div class="row">
          <div class="col-md-2 avt-img text-center">
            <a href="{% static 'img/events/slide10.jpg' %}" class="venobox" data-gall="portfolioGallery"><img alt="" src="{% static 'img/events/slide10.jpg' %}"></a>
          </div>
          <div class="col-md-2 avt-img text-center">
            <a href="{% static 'img/events/slide20.jpg' %}" class="venobox" data-gall="portfolioGallery"><img alt="" src="{% static 'img/events/slide20.jpg' %}"></a>
          </div>
          <div class="col-md-2 avt-img text-center">
            <a href="{% static 'img/events/slide21.jpg' %}" class="venobox" data-gall="portfolioGallery"><img alt="" src="{% static 'img/events/slide21.jpg' %}"></a>
          </div>
          <div class="col-md-2 avt-img text-center">
            <a href="{% static 'img/events/slide22.jpg' %}" class="venobox" data-gall="portfolioGallery"><img alt="" src="{% static 'img/events/slide22.jpg' %}"></a>
          </div>
          <div class="col-md-2 avt-img text-center">
            <a href="{% static 'img/events/slide23.jpg' %}" class="venobox" data-gall="portfolioGallery"><img alt="" src="{% static 'img/events/slide23.jpg' %}"></a>
          </div>
          <div class="col-md-2 avt-img text-center">
            <a href="{% static 'img/events/slide24.jpg' %}" class="venobox" data-gall="portfolioGallery"><img alt="" src="{% static 'img/events/slide24.jpg' %}"></a>
          </div>
          <div class="col-md-2 avt-img text-center">
            <a href="{% static 'img/events/slide25.jpg' %}" class="venobox" data-gall="portfolioGallery"><img alt="" src="{% static 'img/events/slide25.jpg' %}"></a>
          </div>
          <div class="col-md-2 avt-img text-center">
            <a href="{% static 'img/events/slide26.jpg' %}" class="venobox" data-gall="portfolioGallery"><img alt="" src="{% static 'img/events/slide26.jpg' %}"></a>
          </div>
          <div class="col-md-2 avt-img text-center">
            <a href="{% static 'img/events/slide27.jpg' %}" class="venobox" data-gall="portfolioGallery"><img alt="" src="{% static 'img/events/slide27.jpg' %}"></a>
          </div>
          <div class="col-md-2 avt-img text-center">
            <a href="{% static 'img/events/slide28.jpg' %}" class="venobox" data-gall="portfolioGallery"><img alt="" src="{% static 'img/events/slide28.jpg' %}"></a>
          </div>
        </div>
        <div class="section-title">
          <h2 class="page-subtitle">Upcoming Events</h2>
        </div>
          
          <div class="row">
          {% for event in upcoming_events  %}
          <div class="col-md-6 align-items-stretch">
            <div class="card">
              <div class="card-img">
                {% if event.header_img %}
                <img src="{{event.header_img.url}}" class="img-fluid" alt="...">
                {% else %}
                <img src="{% static 'img/logo-round.png'%}" class="img-fluid" alt="...">
                {% endif %}
              </div>
              <div class="card-body">
                <h5 class="card-title"><a href="{% url 'event_detail' slug=event.slug %}">{{event.title}}</a></h5>
                <p class="font-italic text-center">{{event.date}} at {{event.start_time}}</p>
                <p class="card-text">{{event.description|safe|truncatechars:"250"}}</p>
              </div>
            </div>
          </div>
        {% empty %}
            <div class="col-md-6 mx-auto align-items-stretch">
              <div class="card">
                  <h5 class="card-title"><a href="">No Upcoming Events. Check back soon!</a></h5>
              </div>
            </div>
        {% endfor %}
        </div>      
          



      </div>
    </section><!-- End Events Section -->

  </main><!-- End #main -->

{% endblock content %}

{% block footscript %}
  <script src="{% static 'vendor/venobox/venobox.min.js' %}"></script>
{% endblock footscript %}
