{% extends 'base.html' %}
{% load static %}

{% block title_tag %}Southeastern PA Cold Way Society{% endblock %}

{% block content %}

  <!-- ======= Hero Section ======= -->
  <section id="hero" class="d-flex justify-content-center align-items-center">
    <div class="container position-relative text-center" data-aos="zoom-in" data-aos-delay="100">
      <img src="{% static 'img/logo-round-white-border.png' %}" alt="" class="img-fluid">
      <h2>Preserving history through the memories of those who created it.</h2>
    </div>
  </section><!-- End Hero -->

  <main id="main">

    <!-- ======= About Section ======= -->
    <section id="about" class="about">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>About</h2>
        </div>

        <div class="row">
          <div class="col-lg-6 order-1 order-lg-2" data-aos="fade-left" data-aos-delay="100">
            <img src="{% static 'img/about-grid.png' %}" class="img-fluid" alt="">
          </div>
          <div class="col-lg-6 pt-4 pt-lg-0 order-2 order-lg-1 content">
            <h3>Who We Are</h3>
            <p class="font-italic">
              The Southeastern Pennsylvania Cold War Historical Society was founded in 2010 by a group of motivated women 
              dedicated to preserving the contributions that current/former residents of southeastern Pennsylvania (and nearby regions) 
              made toward protecting the United States during the Cold War. 
            </p>
            <a href="{% url 'about_us' %}" class="learn-more-btn">Learn More</a>
          </div>
        </div>

      </div>
    </section><!-- End About Section -->

    <!-- ======= Why Us Section ======= -->
    <section id="why-us" class="why-us">
      <div class="container" data-aos="fade-up">

        <div class="row">
          <div class="col-lg-4 d-flex align-items-stretch mb-3">
            <div class="content">
              <h3>What We Do</h3>
              <p>
                Our primary mission is to engage in collecting and preserving oral histories from current and former residents of Southeastern Pennsylvania who contributed to activities aimed at protecting the United
                States during the Cold War.
              </p>
              <div class="text-center">
                <a href="{% url 'oral_histories' %}" class="more-btn">Learn More <i class="bx bx-chevron-right"></i></a>
              </div>
            </div>
          </div>
          <div class="col-lg-8 d-flex align-items-stretch mb-3" data-aos="zoom-in" data-aos-delay="100">
            <div class="icon-boxes d-flex flex-column justify-content-center">
              <div class="row">
                <div class="col-xl-12 d-flex align-items-stretch">
                  <div class="icon-box mt-4 mt-xl-0">
                    <i class="bx bx-message-detail"></i>
                    <h4>What is oral history?</h4>
                    <p>
                        Oral history is the collection and recording of personal memoirs as historical documentation. It documents forms of discourse normally not documented and it emphasizes the significance of human experience.
                        <br>
                        Oral history is the best method to use to get an idea not only of what happened, but what past times meant to people and how it felt to be a part of those times. It  involves eyewitness accounts and 
                        reminiscences about events and experiences which occurred during the lifetime of the person being interviewed. When we ask people to talk about the past, we are asking them to tell us stories from memory. 
                    </p>
                    <div class="text-center">
                     <a href="{% url 'about_us' %}#oralHistory" class="more-btn">Read More </a>
                    </div>
                  </div>
                </div>
              </div>
            </div><!-- End .content-->
          </div>

          <div class="col-lg-8 d-flex align-items-stretch order-2 order-lg-1" data-aos="zoom-in" data-aos-delay="100">
            <div class="icon-boxes d-flex flex-column justify-content-center">
              <div class="row">
                <div class="col-xl-12 d-flex align-items-stretch">
                  <div class="icon-box mt-4 mt-xl-0">
                    <i class="bx bx-history"></i>
                    <h4>Historical Preservation</h4>
                    <p>
                      While the primary mission of the Southeastern Pennsylvania Cold War Historical Association is collecting and preserving oral histories 
                      from current and former residents of southeastern Pennsylvania who contributed to activities aimed at protecting the United States during 
                      the Cold War, we have, over the years, become involved in related historical preservation efforts related to the Dynamic Flight Simulator,
                       aka Johnsville Centrifuge,  and the former Naval Air Development Center, both located in Warminster, PA.
                    </p>
                  </div>
                </div>
              </div>
            </div><!-- End .content-->
          </div>


          <div class="col-lg-4 d-flex align-items-stretch order-1 order-lg-2">
            <div class="content">
              <h3>Our Projects</h3>
              <p>
                <ul>
                  <li><a href="{% url 'oral_histories' %}">Cold War Oral Histories</a></li>
                  <li>Historical Preservation
                    <ul>
                      <li><a href="{% url 'dfs' %}">Dynamic Flight Simulator (Johnsville Centrifuge)</a></li>
                      <li><a href="{% url 'nadc' %}">Naval Air Development Center</a></li>
                      <li><a href="{% url 'napc' %}">Naval Air Propulsion Center</a></li>
                      <li><a href="{% url 'wgnas' %}">Biddle Air National Guard Station (NAS-JRB Willow Grove)</a></li>
                    </ul>
                  </li>
                  <li><a href="https://sepaveterans.com" target="_blank">Veterans Virtual Wall of Honor</a></li>
                </ul>
              </p>
            </div>
          </div>

        </div>

      </div>
    </section><!-- End Why Us Section -->



    <!-- ======= Popular Courses Section ======= -->
    <section id="popular-courses" class="courses">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Events</h2>
        </div>

        <div class="row" data-aos="zoom-in" data-aos-delay="100">
          <div class="col-12">
            <p>The Southeastern Pennsylvania Cold War Historical Society sponsors or participates in a number of community events which are free and open to the public</p>
          </div>
        {% for event in events %}
          <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
            <div class="course-item">
              {% if event.header_img %}
              <img src="{{event.header_img.url}}" class="img-fluid" alt="...">
              {% else %}
              <img src="{% static 'img/logo-round.png'%}" class="img-fluid" alt="...">
              {% endif %}
              <div class="course-content">

                <h3><a href="{% url 'event_detail' slug=event.slug %}">{{event.title}}</a></h3>
                <p>{{event.description|safe|truncatechars:"80"}}</p>
                <div class="trainer d-flex justify-content-between align-items-center">
                  <div class="trainer-profile d-flex align-items-center">
                    <span>{{event.date}}</span>
                  </div>
                  <div class="trainer-rank d-flex align-items-center">
                    {{event.start_time}} - {{event.end_time}}
                  </div>
                </div>
                <div class="mb-3 mt-3 text-center">
                  <h4 class="text-center"><a href="{% url 'event_detail' slug=event.slug %}">More Info</a></h4>
                </div>
              </div>
            </div>
          </div> <!-- End Course Item-->
        {% endfor %}


        </div>

      </div>
    </section><!-- End Popular Courses Section -->

    <!-- ======= Trainers Section ======= -->
    <section id="trainers" class="about">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Volunteer</h2>
        </div>

        <div class="row" data-aos="zoom-in" data-aos-delay="100">
          <div class="col-lg-12 col-md-6 d-flex align-items-stretch">
     
            <div class="content">
                <p>The Southeastern Pennsylvania Cold War Historical Society welcomes volunteers! </p>
                <p>We currently have need for volunteers who may be able to assist with the following: </p>
                <ul>
                  <li><i class="icofont-check-circled"></i> Identifying, scheduling, participating and conducting oral history interviews</li>
                  <li><i class="icofont-check-circled"></i> Database and mailing list management</li>
                  <li><i class="icofont-check-circled"></i> Transcription of oral history interviews</li>
                  <li><i class="icofont-check-circled"></i> Assisting with organization and cataloguing digitized documents (blueprints, photographs, papers)</li>
                  <li><i class="icofont-check-circled"></i> Archival assistance with documents and various artifacts</li>
                  <li><i class="icofont-check-circled"></i> Researching and/or preparing grant proposals</li>
                </ul>
                <p class="font-italic">Time commitments for volunteer work vary; contact us for further details. </p>
                <a href="{% url 'volunteer' %}" class="learn-more-btn">Become a Volunteer <i class="bx bx-chevron-right"></i></a>
              </div>
           
          </div>

        </div>

      </div>
    </section><!-- End Trainers Section -->

    <!-- ======= Facebook Feed Section ======= -->
    <section id="trainers" class="about">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Interesting Topics</h2>
        </div>

        <div class="row" data-aos="zoom-in" data-aos-delay="100">
          <div class="col-lg-12 col-md-6 d-flex align-items-stretch">
     

   
              <div class="taggbox-container" style="width:100%;height:100%;overflow: auto;"><div class="taggbox-socialwall" data-wall-id="99795" view-url="https://widget.taggbox.com/99795"></div><script src="https://widget.taggbox.com/embed.min.js" type="text/javascript"></script></div>

           
          </div>

        </div>

      </div>
    </section><!-- End Trainers Section -->


  </main><!-- End #main -->

{% endblock content %}