{% extends 'base.html' %}
{% load static %}

{% block title_tag %} SE PA Cold War Historical Society Merchandise {% endblock %}

{% block headscript %}
<link href="{% static 'vendor/venobox/venobox.min.css' %}" rel="stylesheet">
{% endblock headscript %}

{% block content %}

<main id="main">
    <!-- ======= Breadcrumbs ======= -->
    <div class="breadcrumbs" data-aos="fade-in">
      <div class="container">
        <h2>Merchandise</h2>
      </div>
    </div><!-- End Breadcrumbs -->

    <!-- ======= About Section ======= -->
    <section id="merch-page" class="about">
      <div class="container" data-aos="fade-up">

      <div class="row">
      
        <div class="col-lg-6">

          <div class="section-title">
            <h2 class="page-subtitle" style="margin-top:20px;">Zazzle Store</h2>
          </div>
            <div class="pt-4 pt-lg-0 content">
              
              <a href="https://www.zazzle.com/collections/se_pa_cold_war_historical_society_collection-119049295487816449"><img src="https://rlv.zcache.com/se_pa_cold_war_historical_society_collection_119049295487816449-r_zruep_q8z0f_325.jpg" alt="SE PA Cold War Historical Society Collection" style="border:0;" /></a>
              <br/>
              <a href="https://www.zazzle.com/collections/se_pa_cold_war_historical_society_collection-119049295487816449">SE PA Cold War Historical Society Collection</a>
              <p style="margin-top: 20px;">Like our logo? Check out our Zazzle page for T-shirts, keychains, mugs and more!<p></p>
              <br/><a href="https://www.zazzle.com/store/se_pa_cold_war_merch" class="btn btn-danger mt-2"><i class="fas fa-shopping-cart"></i> Shop Zazzle Store</a>
              
            </div>
        </div>







        <div class="col-lg-6">

          <div class="section-title">
            <h2 class="page-subtitle" id="merchHighFront">High Frontier Aerospace Apparel</h2>
          </div>

          <div class="pt-4 pt-lg-0 content">
            <img src="{% static 'img/logo-story.png' %}" class="img-fluid">
            <p style="margin-top: 20px;">The Southeastern PA Cold War Historical Society commissioned the creation of 2 verions of a logo to commemorate the Dynamic Flight Simulator (Johnsville Centrifuge).
            The logos were created by graphic artist Chris Petty. Merchandise featuring the logo and some other wonderful aerospace designs by Chris Petty are available at the link below.</p>
              
              <a href="https://thehighfrontier.blog/shop" class="btn btn-danger"><i class="fas fa-shopping-cart"></i> Shop Aerospace Designs</a>
          </div>
        </div>



      </div>

      </div>
    </section><!-- End About Section -->

  </main><!-- End #main -->


{% endblock content %}

{% block footscript %}
  <script src="{% static 'vendor/venobox/venobox.min.js' %}"></script>
{% endblock footscript %}