{% extends 'base.html' %}
{% load static %}

{% block title_tag %}Dynamic Flight Simulator | Johnsville Centrifuge {% endblock %}

{% block headscript %}
<link href="{% static 'vendor/venobox/venobox.min.css' %}" rel="stylesheet">
{% endblock headscript %}

{% block content %}

<main id="main">
    <!-- ======= Breadcrumbs ======= -->
    <div class="breadcrumbs" data-aos="fade-in">
      <div class="container">
        <h2>Dynamic Flight Simulator (Johnsville Centrifuge)</h2>
        
      </div>
    </div><!-- End Breadcrumbs -->

    <!-- ======= About Section ======= -->
    <section id="dfs-page" class="about">
      <div class="container" data-aos="fade-up">
        <div class="page-intro">
          <div class="row">
            <div class="col-lg-12 pt-4 pt-lg-0 content">
              <div class="float-image-right">
              <a href="{% static 'img/dfs/intro-img1.png' %}" class="venobox" data-gall="portfolioGallery"><img alt="" src="{% static 'img/dfs/intro-img1.png' %}" class="img-fluid"></a>
              </div>
              <div style="float:none;">
                <p>The Johnsville Centrifuge was operated for nearly 50 years (1950 to 1996) by the Navy at the Aviation Medical Acceleration Laboratory at the former Naval Air Development Center 
                  (later Naval Air Warfare Center) in Warminster, Pennsylvania. During its operational lifespan, this centrifuge was the world’s largest and most powerful research tool for studying 
                  the mysterious acceleration, or “G” forces, encountered by pilots or astronauts during flight. Much of our modern understanding of these G forces was elucidated by researchers 
                  at that facility.
                </p>
                <p>The Navy built and began to operate the Johnsville Centrifuge by July 1950 within a 124-foot diameter chamber in the center of inside a giant, round, 11,000-square-foot 
                building with steel-reinforced concrete walls. The centrifuge operated without the gondola and gimbal system for two years, relying on use of swinging carriages attached under the 
                50-foot arm at 20 and 37.5 foot locations.
                </p>
                <p> The original 10- by 6-foot oblate spheroid steel  gondola was finally installed in 1952.</p>
              </div>
              <div class="float-image-left">
                <a href="{% static 'img/dfs/intro-img2.png' %}" class="venobox" data-gall="portfolioGallery"><img alt="" src="{% static 'img/dfs/intro-img2.png' %}" class="img-fluid"></a>
              </div>
              <div style="float:none;">
                <p>The oblate spheroid gondola was replaced with a 10-foot-diameter spheroid gondola during a centrifuge modernization project in the early 1960s. This spheroid gondola may still be 
                viewed today during <a href="#tours" class="scrollto">Tours of the Fuge.</a> 
                <div class="float-image-right">
                  <a href="{% static 'img/dfs/intro-img3.png' %}" class="venobox" data-gall="portfolioGallery"><img alt="" src="{% static 'img/dfs/intro-img3.png' %}" class="img-fluid"></a>
                </div>
                <div style="float:none;">
                  <p>A dual-gimballed gondola, mounted to a 50-foot arm on rotating bearings, allowed a test subject to be oriented in various positions relative to the acceleration force produced as the 
                  arm was rotated around the centrifuge chamber. This enabled the centrifuge to be used as a “dynamic flight simulator” (think sophisticated amusement park ride—only more intense!)
                  </p>
                </div>
              </div>
              <p>A 4,000-horsepower DC electric motor at the center of the centrifuge chamber rotated the arm and gondola around the chamber in a circular path. The motor, built by the General Electric 
              Company, was directly attached to the centrifuge arm and was mounted through 18 feet of reinforced concrete on a solid bedrock foundation (it is notable that bedrock is only 5 to 6 feet below 
              the soil in Warminster, PA, where the centrifuge building is located; thus, this location turned out to be an ideal place for anchoring this machine securely into the ground.)
              </p>
              <div class="row">
                <div class="col-6 text-center">
                  <a href="{% static 'img/dfs/intro-img4.png' %}" class="venobox" data-gall="portfolioGallery"><img alt="" src="{% static 'img/dfs/intro-img4.png' %}" class="img-fluid"></a>
                </div>
                <div class="col-6 text-center">
                  <a href="{% static 'img/dfs/intro-img5.png' %}" class="venobox" data-gall="portfolioGallery"><img alt="" src="{% static 'img/dfs/intro-img5.png' %}" class="img-fluid"></a>
                </div>
              </div>
              <p>When the centrifuge arm was revolving 48 times a minute, the gondola was circling at 173 mph,  producing a centrifugal acceleration force of 40 times the force of gravity (40 Gs). </p>
              <p>In the late 1950’s, a team of physiologists from the Army, Navy, and Air Force used the dynamic flight simulator to study the effects of prolonged exposure to high G forces under controlled conditions 
              previously accessible only in high-performance aircraft. By turning the gondola within its mounting frame while spinning around the room at the end of the centrifuge arm, test subjects could endure nearly 
              every direction and intensity of G forces that might be experienced during air or space flight. </p>
              <p>From the late 1950s through the mid-1960s, NASA used the centrifuge for acceleration training for X-15 pilots as well as Project Mercury and Project Gemini (New Nine) astronauts in preparation for spaceflight.</p>
              <p>Research and training on the Johnsville Centrifuge continued until the Navy vacated the facility (and the entirety of the Naval Air Development Center) in 1996. It continued to operate through a company called 
                Veda until 2004-2005. The building was purchased privately in 2007. The centrifuge was decommissioned but remains preserved as a historical artifact for viewing today.</p>
              <p>Take a look at the videos on our YouTube channel for more information on how the centrifuge was operated: <a href="https://www.youtube.com/playlist?list=PLn_3DgGSrFE0GazRdPI-qI4KXwi5VLZUa">Go To YouTube Channel</a>
              <p><strong>References</strong><br>
              <a href=" http://www.navairdevcen.org/Documents/DFS-history.pdf">Crosbie RJ. The History of the Dynamic Flight Simulator</a><br>
              Wolverton M. The G Machine: Riding an Atlas into space was a piece of cake compared to pulling 32 Gs on the Johnsville Centrifuge. Air and Space Magazine, May 1, 2007.
              </p>

            </div>
          </div>
        </div>
        <div class="section-title">
          <h2 class="page-subtitle" style="margin-top:20px;">Blueprint Digitization Project</h2>
        </div>
        <div class="row">
          <div class="col-lg-12 pt-4 pt-lg-0 content">
            {{page.blueprint|safe}}
          </div>


          <div class="col-lg-12 pt-4 pt-lg-0 content">
              <div class="portfolio-grid">
                <div class="row">
                  <div class="col-lg-3 col-sm-6 col-xs-12">
                    <div class="card card-block">
                      <a href="{% static 'img/dfs/centrifuge-blueprint-1.jpg' %}" class="venobox" data-gall="portfolioGallery"><img alt="" src="{% static 'img/dfs/centrifuge-blueprint-1.jpg' %}">
                        <div class="portfolio-over">
                          <div>
                            <h3 class="card-title">
                              <i class="bx bx-plus"></i>
                            </h3>
                          </div>
                        </div>
                      </a>
                    </div>
                  </div>

                  <div class="col-lg-3 col-sm-6 col-xs-12">
                    <div class="card card-block">
                      <a href="{% static 'img/dfs/centrifuge-blueprint-2.jpg' %}" class="venobox" data-gall="portfolioGallery"><img alt="" src="{% static 'img/dfs/centrifuge-blueprint-2.jpg' %}">
                        <div class="portfolio-over">
                          <div>
                            <h3 class="card-title">
                              <i class="bx bx-plus"></i>
                            </h3>
                          </div>
                        </div>
                      </a>
                    </div>
                  </div>

                  <div class="col-lg-3 col-sm-6 col-xs-12">
                    <div class="card card-block">
                      <a href="{% static 'img/dfs/centrifuge-blueprint-3.jpg' %}" class="venobox" data-gall="portfolioGallery"><img alt="" src="{% static 'img/dfs/centrifuge-blueprint-3.jpg' %}">
                        <div class="portfolio-over">
                          <div>
                            <h3 class="card-title">
                              <i class="bx bx-plus"></i>
                            </h3>
                          </div>
                        </div>
                      </a>
                    </div>
                  </div>

                  <div class="col-lg-3 col-sm-6 col-xs-12">
                    <div class="card card-block">
                      <a href="{% static 'img/dfs/centrifuge-blueprint-4.jpg' %}" class="venobox" data-gall="portfolioGallery"><img alt="" src="{% static 'img/dfs/centrifuge-blueprint-4.jpg' %}">
                                              <div class="portfolio-over">
                          <div>
                            <h3 class="card-title">
                              <i class="bx bx-plus"></i>
                            </h3>
                          </div>
                        </div>
                      
                      </a>
                    </div>
                  </div>
                </div>
                </div>
            </div>  
          </div>
        </div>
      </div>








      <div class="container" data-aos="fade-up">
        <div class="section-title">
          <h2 class="page-subtitle">Centrifuge Logbook Digitization</h2>
        </div>
        <div class="row">
          <div class="col-lg-12 pt-4 pt-lg-0 content">
            {{page.centrifuge|safe}}
          </div>


          <div class="col-lg-12 pt-4 pt-lg-0 content">
              <div class="portfolio-grid">
                <div class="row">
                  <div class="col-lg-4 col-sm-6 col-xs-12">
                    <div class="card card-block">
                      <a href="{% static 'img/dfs/log1.jpg' %}" class="venobox" data-gall="portfolioGallery"><img alt="" src="{% static 'img/dfs/log1.jpg' %}">
                        <div class="portfolio-over">
                          <div>
                            <h3 class="card-title">
                              <i class="bx bx-plus"></i>
                            </h3>
                          </div>
                        </div>
                      </a>
                    </div>
                  </div>

                  <div class="col-lg-4 col-sm-6 col-xs-12">
                    <div class="card card-block">
                      <a href="{% static 'img/dfs/log2.jpg' %}" class="venobox" data-gall="portfolioGallery"><img alt="" src="{% static 'img/dfs/log2.jpg' %}">
                        <div class="portfolio-over">
                          <div>
                            <h3 class="card-title">
                              <i class="bx bx-plus"></i>
                            </h3>
                          </div>
                        </div>
                      </a>
                    </div>
                  </div>

                  <div class="col-lg-4 col-sm-6 col-xs-12">
                    <div class="card card-block">
                      <a href="{% static 'img/dfs/log3.jpg' %}" class="venobox" data-gall="portfolioGallery"><img alt="" src="{% static 'img/dfs/log3.jpg' %}">
                        <div class="portfolio-over">
                          <div>
                            <h3 class="card-title">
                              <i class="bx bx-plus"></i>
                            </h3>
                          </div>
                        </div>
                      </a>
                    </div>
                  </div>

                  <div class="col-lg-4 col-sm-6 col-xs-12">
                    <div class="card card-block">
                      <a href="{% static 'img/dfs/log4.jpg' %}" class="venobox" data-gall="portfolioGallery"><img alt="" src="{% static 'img/dfs/log4.jpg' %}">
                        <div class="portfolio-over">
                          <div>
                            <h3 class="card-title">
                              <i class="bx bx-plus"></i>
                            </h3>
                          </div>
                        </div>
                      
                      </a>
                    </div>
                  </div>
                  <div class="col-lg-4 col-sm-6 col-xs-12">
                    <div class="card card-block">
                      <a href="{% static 'img/dfs/log5.jpg' %}" class="venobox" data-gall="portfolioGallery"><img alt="" src="{% static 'img/dfs/log5.jpg' %}">
                        <div class="portfolio-over">
                          <div>
                            <h3 class="card-title">
                              <i class="bx bx-plus"></i>
                            </h3>
                          </div>
                        </div>
                      
                      </a>
                    </div>
                  </div>
                  <div class="col-lg-4 col-sm-6 col-xs-12">
                    <div class="card card-block">
                      <a href="{% static 'img/dfs/log6.jpg' %}" class="venobox" data-gall="portfolioGallery"><img alt="" src="{% static 'img/dfs/log6.jpg' %}">
                        <div class="portfolio-over">
                          <div>
                            <h3 class="card-title">
                              <i class="bx bx-plus"></i>
                            </h3>
                          </div>
                        </div>
                      
                      </a>
                    </div>
                  </div>

                  <div class="col-lg-4 col-sm-6 col-xs-12">
                    <div class="card card-block">
                      <a href="{% static 'img/dfs/log7.png' %}" class="venobox" data-gall="portfolioGallery"><img alt="" src="{% static 'img/dfs/log7.png' %}">
                        <div class="portfolio-over">
                          <div>
                            <h3 class="card-title">
                              <i class="bx bx-plus"></i>
                            </h3>
                          </div>
                        </div>
                      
                      </a>
                      
                    </div>
                    <small>Photo credit: NASA</small>
                  </div>

                  <div class="col-lg-4 col-sm-6 col-xs-12">
                    <div class="card card-block">
                      <a href="{% static 'img/dfs/log8.png' %}" class="venobox" data-gall="portfolioGallery"><img alt="" src="{% static 'img/dfs/log8.png' %}">
                        <div class="portfolio-over">
                          <div>
                            <h3 class="card-title">
                              <i class="bx bx-plus"></i>
                            </h3>
                          </div>
                        </div>
                      
                      </a>
                    </div>
                  </div>

                  <div class="col-lg-4 col-sm-6 col-xs-12">
                    <div class="card card-block">
                      <a href="{% static 'img/dfs/log9.png' %}" class="venobox" data-gall="portfolioGallery"><img alt="" src="{% static 'img/dfs/log9.png' %}">
                        <div class="portfolio-over">
                          <div>
                            <h3 class="card-title">
                              <i class="bx bx-plus"></i>
                            </h3>
                          </div>
                        </div>
                      
                      </a>
                    </div>
                    <small>Photo credit: NASA</small>
                  </div>

                  </div>
                </div>
                </div>
            </div>  
        </div>


      <div class="container" data-aos="fade-up">
        <div class="section-title">
          <h2 class="page-subtitle">Special Projects</h2>
        </div>
        <div class="row">
          <div class="col-lg-12 pt-4 pt-lg-0 content">
            <div class="float-image-right">
              <img src="{% static 'img/dfs/crosbie_plaque.png'%}" class="img-fluid">
            </div>
            <div style="float:none;">
              <p><strong>Richard J. Crosbie plaque-</strong> a plaque commemorating the contributions of Richard Crosbie to the operation of the Johnsville Centrifuge was 
                commissioned by The Southeastern Pennsylvania Cold War Historical Society in 2019. The plaque is displayed at the Fuge on the 3rd floor Centrifuge “Flight Deck”.
              </p>
              <p>The inscription on the plaque reads as follows:</p>
              <div class="text-center">
                <p><strong>Richard J. Crosbie</strong></p>
                <p><strong>1922-2019</strong></p>
                <p><strong>“Father of the DFS “(Dynamic Flight Simulator, aka human centrifuge)</strong></p>
              </div>
              <p>A mathematician and physicist by training, Richard Crosbie joined the Biophysics Department at the newly constructed human centrifuge at the Naval Air Development Center in Warminster, PA in 1950.</p>
              <p>The centrifuge was built to gain insight into the effects of acceleration on human physiology and to train military pilots to prevent loss of consciousness experienced in a high performance jet 
              aircraft cockpit from these mysterious “G” forces. </p>
              <p>The centrifuge’s greatest notoriety, however, was serving as a spaceflight acceleration training platform for the X-15 suborbital rocketplane pilots as well as America’s Mercury, Gemini, Apollo and 
              several early Space Shuttle astronauts. </p>
              <p>Richard earned recognition by converting the centrifuge controls from machined cam drives to a revolutionary computer control system he encountered while attending classes at Princeton University.</p>
              <p>Richard earned the name “Father of the DFS” (Dynamic Flight Simulator) when he developed the mathematical algorithms and controls to simulate a “flown” aircraft with the human centrifuge-- with all the 
              acceleration forces a jet fighter pilot would encounter during actual flight. </p>
              <p>Richard Crosbie’s numerous scientific papers, patents and expertise on dynamic flight simulation made him a celebrity among his peers. He will be remembered as a pioneer in acceleration research that has directly 
              impacted the safety of thousands of military, commercial, and general aviation pilots and astronauts.</p>
              <p class="font-italic">We would like to thank <a href="https://www.longviewgraphicsnc.com/">Longview Graphics</a>, Raleigh, NC for the creation of the plaque.</p>
            </div>
            <hr>
            <div class="float-image-right">
              <img src="{% static 'img/dfs/john_glenn.png'%}" class="img-fluid">
            </div>
            <div style="float:none;">
              <p><strong>Commissioned painting of John Glenn-</strong> To thank the owner of the Fuge, Sam Cravero, for his ongoing support of our organization, 
              The Southeastern Pennsylvania Cold War Historical Society commissioned a painting of John Glenn during Project Mercury training on the Johnsville 
              Centrifuge for him.  Renowned artist <a href="https://simonkregar.com/">Simon Kregar</a> created the masterpiece in 2018.
              </p>
            </div>
          </div>
        </div>
      </div>




      <div class="container" data-aos="fade-up" id="tours">
        <div class="section-title">
          <h2 class="page-subtitle">Tours of The Fuge</h2>
        </div>
        <div class="row">
          <div class="col-lg-12 pt-4 pt-lg-0 content">
            {{page.tours|safe}}
          </div>
          <div class="col-lg-12 pt-4 pt-lg-0 content">
              <div class="portfolio-grid">
                <div class="row">
                  <div class="col-lg-3 col-sm-6 col-xs-12">
                    <div class="card card-block">
                      <a href="{% static 'img/dfs/fuge-tours1.jpg' %}" class="venobox" data-gall="portfolioGallery"><img alt="" src="{% static 'img/dfs/fuge-tours1.jpg' %}">
                        <div class="portfolio-over">
                          <div>
                            <h3 class="card-title">
                              <i class="bx bx-plus"></i>
                            </h3>
                          </div>
                        </div>
                      </a>
                    </div>
                  </div>

                  <div class="col-lg-3 col-sm-6 col-xs-12">
                    <div class="card card-block">
                      <a href="{% static 'img/dfs/fuge-tours2.jpg' %}" class="venobox" data-gall="portfolioGallery"><img alt="" src="{% static 'img/dfs/fuge-tours2.jpg' %}">
                        <div class="portfolio-over">
                          <div>
                            <h3 class="card-title">
                              <i class="bx bx-plus"></i>
                            </h3>
                          </div>
                        </div>
                      </a>
                    </div>
                  </div>

                  <div class="col-lg-3 col-sm-6 col-xs-12">
                    <div class="card card-block">
                      <a href="{% static 'img/dfs/fuge-tours3.jpg' %}" class="venobox" data-gall="portfolioGallery"><img alt="" src="{% static 'img/dfs/fuge-tours3.jpg' %}">
                        <div class="portfolio-over">
                          <div>
                            <h3 class="card-title">
                              <i class="bx bx-plus"></i>
                            </h3>
                          </div>
                        </div>
                      </a>
                    </div>
                  </div>

                  <div class="col-lg-3 col-sm-6 col-xs-12">
                    <div class="card card-block">
                      <a href="{% static 'img/dfs/fuge-tours4.jpg' %}" class="venobox" data-gall="portfolioGallery"><img alt="" src="{% static 'img/dfs/fuge-tours4.jpg' %}">
                                              <div class="portfolio-over">
                          <div>
                            <h3 class="card-title">
                              <i class="bx bx-plus"></i>
                            </h3>
                          </div>
                        </div>
                      
                      </a>
                    </div>
                  </div>
                  <div class="col-lg-3 col-sm-6 col-xs-12">
                    <div class="card card-block">
                      <a href="{% static 'img/dfs/fuge-tours5.jpg' %}" class="venobox" data-gall="portfolioGallery"><img alt="" src="{% static 'img/dfs/fuge-tours5.jpg' %}">
                                              <div class="portfolio-over">
                          <div>
                            <h3 class="card-title">
                              <i class="bx bx-plus"></i>
                            </h3>
                          </div>
                        </div>
                      
                      </a>
                    </div>
                  </div>
                  <div class="col-lg-3 col-sm-6 col-xs-12">
                    <div class="card card-block">
                      <a href="{% static 'img/dfs/fuge-tours6.jpg' %}" class="venobox" data-gall="portfolioGallery"><img alt="" src="{% static 'img/dfs/fuge-tours6.jpg' %}">
                                              <div class="portfolio-over">
                          <div>
                            <h3 class="card-title">
                              <i class="bx bx-plus"></i>
                            </h3>
                          </div>
                        </div>
                      
                      </a>
                    </div>
                  </div>
                  <div class="col-lg-3 col-sm-6 col-xs-12">
                    <div class="card card-block">
                      <a href="{% static 'img/dfs/fuge-tours7.jpg' %}" class="venobox" data-gall="portfolioGallery"><img alt="" src="{% static 'img/dfs/fuge-tours7.jpg' %}">
                                              <div class="portfolio-over">
                          <div>
                            <h3 class="card-title">
                              <i class="bx bx-plus"></i>
                            </h3>
                          </div>
                        </div>
                      
                      </a>
                    </div>
                  </div>
                  <div class="col-lg-3 col-sm-6 col-xs-12">
                    <div class="card card-block">
                      <a href="{% static 'img/dfs/fuge-tours8.jpg' %}" class="venobox" data-gall="portfolioGallery"><img alt="" src="{% static 'img/dfs/fuge-tours8.jpg' %}">
                                              <div class="portfolio-over">
                          <div>
                            <h3 class="card-title">
                              <i class="bx bx-plus"></i>
                            </h3>
                          </div>
                        </div>
                      
                      </a>
                    </div>
                  </div>
                  <div class="col-lg-3 col-sm-6 col-xs-12">
                    <div class="card card-block">
                      <a href="{% static 'img/dfs/fuge-tours9.jpg' %}" class="venobox" data-gall="portfolioGallery"><img alt="" src="{% static 'img/dfs/fuge-tours9.jpg' %}">
                                              <div class="portfolio-over">
                          <div>
                            <h3 class="card-title">
                              <i class="bx bx-plus"></i>
                            </h3>
                          </div>
                        </div>
                      
                      </a>
                    </div>
                  </div>
                  <div class="col-lg-3 col-sm-6 col-xs-12">
                    <div class="card card-block">
                      <a href="{% static 'img/dfs/fuge-tours10.jpg' %}" class="venobox" data-gall="portfolioGallery"><img alt="" src="{% static 'img/dfs/fuge-tours10.jpg' %}">
                                              <div class="portfolio-over">
                          <div>
                            <h3 class="card-title">
                              <i class="bx bx-plus"></i>
                            </h3>
                          </div>
                        </div>
                      
                      </a>
                    </div>
                  </div>
                  <div class="col-lg-3 col-sm-6 col-xs-12">
                    <div class="card card-block">
                      <a href="{% static 'img/dfs/fuge-tours11.jpg' %}" class="venobox" data-gall="portfolioGallery"><img alt="" src="{% static 'img/dfs/fuge-tours11.jpg' %}">
                                              <div class="portfolio-over">
                          <div>
                            <h3 class="card-title">
                              <i class="bx bx-plus"></i>
                            </h3>
                          </div>
                        </div>
                      
                      </a>
                    </div>
                  </div>




                </div>
                </div>
            </div> 





        </div>
      </div>



    </section><!-- End About Section -->

  </main><!-- End #main -->


{% endblock content %}

{% block footscript %}
  <script src="{% static 'vendor/venobox/venobox.min.js' %}"></script>
{% endblock footscript %}