{% extends 'base.html' %}
{% load static %}

{% block title_tag %} Cold War Oral Histories {% endblock %}

{% block content %}

<main id="main">
    <!-- ======= Breadcrumbs ======= -->
    <div class="breadcrumbs" data-aos="fade-in">
      <div class="container">
        <h2>The Lavelle Aircraft Corporation (formerly of Newtown, PA)</h2>
      </div>
    </div><!-- End Breadcrumbs -->


      <div class="container" data-aos="fade-up" id="dfs-page" style="padding:10px">

        <div class="row">
          <div class="col-lg-12 pt-4 content">
            <p>Lavelle was founded in December 1941 by sheet metal machinist and project manager Thomas B. Lavelle and aeronautical engineer Henry A. Liese.  
              Both had extensive experience in the aircraft industry, starting with the famed Loening Aeronautical Engineering Company in Long Island and then with Carl 
              de Ganahl, who owned Fleetwings, Inc, another early aircraft manufacturer of stainless-steel amphibious aircraft which had relocated from Long Island to 
              Bristol, PA after purchasing buildings previously owned by Keystone Aircraft along the Delaware River.</p>
          </div>
          <div class="col-lg-6 col-sm-12">
              <img class="img-fluid" alt="" src="https://elevatedwebsystems.nyc3.cdn.digitaloceanspaces.com/SEPA-coldwar/lavalle-aircraft-corp/slide1.JPG">
          </div>
          <div class="col-lg-6 col-sm-12">
              <img class="img-fluid" alt="" src="https://elevatedwebsystems.nyc3.cdn.digitaloceanspaces.com/SEPA-coldwar/lavalle-aircraft-corp/slide2.JPG">
          </div>

          <div class="col-lg-12 pt-4 content">
            <p>Lavelle and Liese were able to secure a major portion of their initial capital to start the Lavelle Aircraft Corporation through a large stock contribution 
              from their first Long Island employer, Grover Loening. </p>
            <p>Lavelle was primarily located in a building which had housed the Newtown Hosiery Mill (aka Stocking Works). Eventually, Lavelle expanded its footprint to 
              include an adjacent building which had housed the Newtown Tile Company, another building which had been owned by a Chevrolet car dealer and rented storage 
              space in a dairy barn in Wrightstown!</p>
            <p>Many sheet metal machinists and spot welders came to work for Lavelle to escape the unionization of Fleetwings. It did not take long for Lavelle to gain a 
              reputation as a quality fabricator of precision sheet metal aircraft parts. It became the principal subcontractor to Grumman, manufacturing sheet metal 
              sub-assemblies for every Grumman Navy fighter, from the A-6 Intruder, F4F Wildcat, F6F Hellcat, TBF Avenger, F9 Cougar,  F9F Panther up through the F14 Tomcat.</p> 
            <p>They also were subcontracted to produce parts for the Martin B-26 Marauder bomber, engine cowlings, dorsal fin, ammunition boxes and rear gun mounts for the Navy's 
              Brewster F2A Buffalo carrier fighter, ammunition boxes, feed trays and wing fairings on the Curtiss P-40 Warhawk, and the vertical stabilizer (fin) for the Curtiss 
              C-46 Commando cargo plane. </p>
          </div>

          <div class="col-12">
              <img class="img-fluid" alt="" src="https://elevatedwebsystems.nyc3.cdn.digitaloceanspaces.com/SEPA-coldwar/lavalle-aircraft-corp/slide3.JPG">
          </div>
          <div class="col-12">
              <img class="img-fluid" alt="" src="https://elevatedwebsystems.nyc3.cdn.digitaloceanspaces.com/SEPA-coldwar/lavalle-aircraft-corp/slide4.JPG">
          </div>
          <div class="col-lg-12 pt-4 content">
            <p>During WWII, the company grew to 700 employees and was the largest employer in Newtown at the time.  Lavelle had their own “Rosie the Riveters” during World War II as well; due 
              to the male labor shortage, local women were hired and trained by Henry Liese to drill and rivet sheet metal parts.  </p>
          </div>

          <div class="col-12">
              <img class="img-fluid" alt="" src="https://elevatedwebsystems.nyc3.cdn.digitaloceanspaces.com/SEPA-coldwar/lavalle-aircraft-corp/slide5.JPG">
          </div>
          <div class="col-12">
              <img class="img-fluid" alt="" src="https://elevatedwebsystems.nyc3.cdn.digitaloceanspaces.com/SEPA-coldwar/lavalle-aircraft-corp/slide6.JPG">
          </div>


          <div class="col-lg-12 pt-4 content">
            <p>Lavelle was awarded multiple Army-Navy “E” Production Awards during World War II for their work. These “E” Awards were honors presented to companies and organizations during World War 
              II whose production facilities achieved "Excellence in Production" ("E") of war equipment. </p>
          </div>


          <div class="col-12">
              <img class="img-fluid" alt="" src="https://elevatedwebsystems.nyc3.cdn.digitaloceanspaces.com/SEPA-coldwar/lavalle-aircraft-corp/slide7.JPG">
          </div>



          <div class="col-lg-12 pt-4 content">
            <strong>Lavelle’s pivot following World War II</strong>
            <p>Once the war ended, government contracts for aircraft parts were cancelled or not renewed.  </p>
            <p>In order for Lavelle to survive and to retain its loyal employees, it looked to the surrounding farming community of Bucks County for inspiration and opened a farm division 
              (1945-1953) to leverage its sheet metal manufacturing expertise by building and selling farming conveyors, grain wagons and unloaders. </p>
          </div>



          <div class="col-12">
              <img class="img-fluid" alt="" src="https://elevatedwebsystems.nyc3.cdn.digitaloceanspaces.com/SEPA-coldwar/lavalle-aircraft-corp/slide8.JPG">
          </div>



          <div class="col-lg-12 pt-4 content">
            <strong>The beginning of the Cold War and the Soviets' launch of Sputnik in 1957 plunged the US into a “Space Race" and Lavelle’s expertise with sheet metal construction 
              was sought out for construction of missiles and satellites.</strong>
            <p>In 1957, RCA subcontracted Lavelle to build TIROS, the Television and Infra-Red Observation Satellite. While RCA had extensive experience in television technology, 
              the company had limited knowledge of sheet metal manufacturing. Made of aluminum alloy and stainless steel, the eighteen-sided disk-shaped TIROS I was covered with 
              9,200 solar panels to power its camera and data-storage devices. Launched on April 1, 1960, TIROS I proved the feasibility of video observation of weather by satellites.</p>
            <p>In the years that followed, Lavelle built six of the nine TIROS satellites, the Telstar communication satellite which NASA launched in 1962, and Ranger 7, which 
              observed the moon in 1964.</p>
            <p>Ranger 7 was the first space probe of the United States to successfully transmit close images of the lunar surface back to Earth. It was also the first completely successful 
              flight of the Ranger program. Launched on July 28, 1964, Ranger 7 was designed to achieve a lunar-impact trajectory and to transmit high-resolution photographs 
              of the lunar surface during the final minutes of flight up to impact. The images were used for selection of lunar landing sites during Project Apollo.</p>              
          </div>

          <div class="col-12">
              <img class="img-fluid" alt="" src="https://elevatedwebsystems.nyc3.cdn.digitaloceanspaces.com/SEPA-coldwar/lavalle-aircraft-corp/slide9.JPG">
          </div>



          <div class="col-lg-12 pt-4 content">
            <strong>Lavelle also played a role in NASA's Apollo lunar program</strong>
            <p>Grumman turned to its reliable subcontractor Lavelle once again to support its Apollo Lunar Module program. Lavelle built the antenna head yoke device for the 
              lunar module. This was an important component of the rendezvous radar used on the spacecraft.</p>
            <p>Lavelle also constructed lithium hydroxide canisters used in extravehicular activity suits to remove exhaled carbon dioxide from the suit wearer. The canisters 
              were the same ones used in the Lunar Module’s environmental control and life support system; Lavelle initially built the canisters for NASA, but later became 
              a subcontractor to Hamilton-Standard, who oversaw the design and development of the EVA suits worn on the lunar surface.</p>
            <p>Here is Henry Liese’s son, Arthur, recounting the story of how Lavelle helped to solve the carbon dioxide build-up in the spacecraft during the Apollo 13 
              crisis by use of the cylindrical lithium hydroxide canisters they manufactured:</p>      
            <p style="font-style: italic;">“The operator [at Lavelle] was a woman called Virginia Perkins, and she takes this call from NASA and gives it to Ed Oberndorfer (“Obi”), the chief engineer at 
              the time. And Obi then calls my father, and dad goes up to see what's going on, and he gets in on this conversation. Dad then calls up the guy in the stockroom--a 
              guy by the name of Ed Schneck. If you wanted drills or a drill bit or tape or gloves or anything else, they had them in a stock room, and “Schnecky” took care of 
              all that stuff. So, Dad called “Schnecky” and said, ‘Hey, we need some duct tape and this and that, can you bring some up here right away?’ And they get this 
              stuff up there, and my father starts fooling around with it. How are we going to make this [lithium hydroxide] cylinder fit into [the square command module 
              carbon dioxide filter] component? He was just playing around with this, experimenting with this or that and this tape. And you know, they didn't have a stockroom 
              up on the spacecraft, but they had duct tape. And you know that dad would joke about? He said, ‘Christ, the whole world is held together with duct tape, and nobody 
              knows it.’ Anyway, he worked it out and said, ‘look, this is what we're doing down here.’ And then the astronauts did it, and it worked. But, you know, when the 
              movie was made, of course the NASA engineers get the credit for it, and that's Hollywood for you. But, you know, Obi was an engineer, very smart guy, but had the 
              practical application; how you do this. And it was his idea to use the duct tape, because how are you going to make this thing airtight? That was the big thing. 
              He said, ‘well, look, the duct tape is two and a half inches wide, but…you put two or three pieces together, and then you get a six-inch piece.’ And… that's 
              ultimately how it came together. Obi was a brilliant guy [and] just [a] really, really nice guy. He was a pilot, too. All these [Lavelle] guys’ lives were 
              committed to aviation.”</p>     
          </div>

          <div class="col-12">
              <img class="img-fluid" alt="" src="https://elevatedwebsystems.nyc3.cdn.digitaloceanspaces.com/SEPA-coldwar/lavalle-aircraft-corp/slide10.JPG">
          </div>


          <div class="col-lg-12 pt-4 content">
            
            <p>In 1976, Henry A. Liese and Thomas Lavelle sold their controlling interest in the Lavelle Aircraft Corporation. The company relocated to northeast 
              Philadelphia in 1987, where it was sold again in 1988 and finally closed due to bankruptcy in 1999.</p>
            <div class="pt-4"><strong>References</strong></div>

            <p>Arthur Liese oral history. Recorded by The Southeastern Pennsylvania Cold War Historical Society, June 19 and 26, 2025. (Unpublished.)</p>
            <p>Liese, Arthur. Personal notes on Lavelle Aircraft Corporation, July 9, 2025. (Unpublished).</p>
            <p><a href="https://www.newtownhistoric.org/" target="_blank">Newtown Historic Association</a></p>

          </div>

        </div>
      </div>
    </div>


  </main><!-- End #main -->


{% endblock content %}