{% extends 'base.html' %}
{% load static %}

{% block title_tag %} NADC Alumni Reception {% endblock %}

{% block content %}

<main id="main">
    <!-- ======= Breadcrumbs ======= -->
    <div class="breadcrumbs" data-aos="fade-in">
      <div class="container">
        <h2>Naval Air Development Center Alumni Reception</h2>
        {% comment %} <p>Est dolorum ut non facere possimus quibusdam eligendi voluptatem. Quia id aut similique quia voluptas sit quaerat debitis. Rerum omnis ipsam aperiam consequatur laboriosam nemo harum praesentium. </p> {% endcomment %}
      </div>
    </div><!-- End Breadcrumbs -->

    <!-- ======= About Section ======= -->
    <section id="about" class="about">
      <div class="container" data-aos="fade-up">

        <div class="row">
          <div class="col-lg-12 pt-4 pt-lg-0 content">
            <script src="https://cdn.jsdelivr.net/npm/publicalbum@latest/embed-ui.min.js" async></script>
            <div class="pa-gallery-player-widget" style="width:100%; height:480px; display:none;"
              data-link="https://photos.app.goo.gl/BGD3vYwN9NXWh1CE9"
              data-title="NAPC Reunion 2024"
              data-description="12 new items added to shared album">
              <object data="https://lh3.googleusercontent.com/pw/AP1GczN32xS5a4FVBa2eWKjdGGeduSzojW_vDfGIvqctFKBSCK28Tuum5II3cyknXfxzBKvXUatcnsqHDAef6Ui-GN9wCq7x2ZzID2OW7zQtVzWTIMHPt0E=w1920-h1080"></object>
              <object data="https://lh3.googleusercontent.com/pw/AP1GczPN9GclOZvOl1z0bF1cCwZn2dC3EjYd-Rv-ZpfglnQGpsOdZgwy4irqoRJRJNigYITi1LFePQfLXeY_nd3nZW4RDm4XRiSFB_XjDrc67-OX6vF5-E0=w1920-h1080"></object>
              <object data="https://lh3.googleusercontent.com/pw/AP1GczOx5A_2GwMxsgjA-_L7fsz-ZagEjwiDIlp3W-Wp--MTobHN8f1P6dqVpAyabQ1JKM5Q1cu0aGtrMmJZGN255oxqfMCwsd4Ki-qzUWctAusfE9O_o6Y=w1920-h1080"></object>
              <object data="https://lh3.googleusercontent.com/pw/AP1GczOSwXanUTfeSas5p7jksCrJF9T-tYnsxR8DcoxpJ_wzjSCy3j-h60OuQaob5kX39GKCDlOCsDUzUiXPxo2kp1vp5cDOQeC6CHpWwsa0KSFE3l9sI3M=w1920-h1080"></object>
              <object data="https://lh3.googleusercontent.com/pw/AP1GczM0VAYugK0VunIEeRuAeh4BdV7IwVmxb6HHc1kNZHBLWfFWX1eDc7mn_dRf9ItlHtcAl8h13XLsljTgEGOKehJKmypxXePaYIwESwcFWSqSofzIBdY=w1920-h1080"></object>
              <object data="https://lh3.googleusercontent.com/pw/AP1GczP-mOX7J7mBqQgDnVxLVXUkZzXcfkAi_fSChFUry8wHKsJ-ou8OSZLlfIKg6JoBl5n78cgcJOK8-Tv0-0Rtb7QbRXCB_UXq01RUpgbmEza-9eToHoA=w1920-h1080"></object>
              <object data="https://lh3.googleusercontent.com/pw/AP1GczMV3BVS2mTFfIGYQP7RYFlwfDRvYsXkHJrVfgmoYkFmPnhhjS2T9iMKIaf2q868n4d0W70-cdMVmd6D0Qmez83gni0UmWG88SIW_d759VmgQFxr94c=w1920-h1080"></object>
              <object data="https://lh3.googleusercontent.com/pw/AP1GczMS12hyiFfJQVz6VVUnPbWrsBODRWAvlV-Q1zzAGQS_ATikW7QwX1GVbz7IwcFEdX3Ii1lRfZSsAulf0Hc07w9tjA3ir6Tn-9Bt7k3m0XxzHHe4A9A=w1920-h1080"></object>
              <object data="https://lh3.googleusercontent.com/pw/AP1GczPhTOANVuz1tLDoZqdolWzqSyiWi8VmVqNV0wleA_R94XDBKOObsjdbCtfrvGwqqGRGlm4wM6eN8nELOQQFfGJowAH-16tElNruqkUQBou_u89LCVE=w1920-h1080"></object>
              <object data="https://lh3.googleusercontent.com/pw/AP1GczOSF_wxDdLQ7mRIRNm4nYJHNnPhipQEpL-aIdmQaLIGEVh5RRatQsyws1jAOI391SJwZgHKXhWb4MqqsKJksNrR4JwTUiU8FWybCkDP8jJ5NiO-boo=w1920-h1080"></object>
              <object data="https://lh3.googleusercontent.com/pw/AP1GczN9xCSR4mGYy3_5YH8WF0NOaqlTDzbv6wrt1be_p6cbZlVp8HKDHWXlAPW2rYzauhMuc9dUaJ-ZJm7r5I2soDv8K12q3X1r9kBhQb0SF1vP2EJCQnI=w1920-h1080"></object>
              <object data="https://lh3.googleusercontent.com/pw/AP1GczNfIWoJG9MRyXw07BKPDsbGmra2Kk4sO24ysWqom-tG-K_MaprstI-RrARXr2ubIlEaOcPT8NbZ1mUN29OdBoioDVebmfRZ-mUzoqmvjR8lVK7aQbU=w1920-h1080"></object>
            </div>
            
            


          </div>
        </div>
      </div>
    </section><!-- End About Section -->

  </main><!-- End #main -->


{% endblock content %}