{% extends 'base.html' %}
{% load static %}

{% block title_tag %} NADC 20th Reunion {% endblock %}

{% block content %}

<main id="main">
    <!-- ======= Breadcrumbs ======= -->
    <div class="breadcrumbs" data-aos="fade-in">
      <div class="container">
        <h2>Naval Air Development Center 25th Reunion</h2>
        {% comment %} <p>Est dolorum ut non facere possimus quibusdam eligendi voluptatem. Quia id aut similique quia voluptas sit quaerat debitis. Rerum omnis ipsam aperiam consequatur laboriosam nemo harum praesentium. </p> {% endcomment %}
      </div>
    </div><!-- End Breadcrumbs -->

    <!-- ======= About Section ======= -->
    <section id="about" class="about">
      <div class="container" data-aos="fade-up">

        <div class="row">
          <div class="col-lg-12 pt-4 pt-lg-0 content">
            <script src="https://cdn.jsdelivr.net/npm/publicalbum@latest/embed-ui.min.js" async></script>
            <div class="pa-gallery-player-widget" style="width:100%; height:480px; display:none;"
              data-link="https://photos.app.goo.gl/b7xPqA6UTKNshB1s6"
              data-title="NADC 25th Reunion"
              data-description="20 new items added to shared album">
              <object data="https://lh3.googleusercontent.com/auwf1x3bk1GcqsVLXG5c2g6TST8aR3kqhHXr_mAl6seTtjTd2Z0h1EVwQGM7vXuVDXLyOvxMx8swUJayls33s_IKWpkfLcpQsL2L-gXs0X0UiO9MPyXrnLOVnmBqJitqSUYiGFnXZg=w1920-h1080"></object>
              <object data="https://lh3.googleusercontent.com/1CsFpIt6Q9A4YpbluAa_beLm0k0C5dj1GnJg0wBadiiYffzWHtc4JbdPDtxPFx-K3-ojHU9KgV-JKtpgrpMs8gHKHuYg2cXl0kWo57_LzJYoKyfJRmbzxxpJeSZ3bUo36dyavYCeXQ=w1920-h1080"></object>
              <object data="https://lh3.googleusercontent.com/cG2C0bhW-dPyQWCaOcjpY7BKFl2XF8CWUDKyJjSjcdM48I-j3btrzY9LbDe_nhVM7I4fKSq6thae1pXVWtyP84CG_V26ZH1eTurNjv1-qktZkzB4uwh5Jw5BpEpsAg1sG6DOXn8Ggw=w1920-h1080"></object>
              <object data="https://lh3.googleusercontent.com/pmt0G-SdJfvmO_k02C1tkTXidcM3UfMuoNMo0N9WCtSh0Jz2EpYSeU6TPgMRyCDVGdS3DldONUjgCzmw591_aSHA8DGLnIgNFvF_rHw0Wa8q9VF0uOIMmMd7ZXIsSVrRdW-bOVn--w=w1920-h1080"></object>
              <object data="https://lh3.googleusercontent.com/lCACufeaQzmIhgxyRoIbRWM9-98aC1b-_Y7o8uTjiAl4AdxXqPFiFjA690gKpNQE0YVqk-FS55QUynENPzSDdGvLJ457vNGX8y46YJfFUiavJ2UNHbic2I-bd4B3eJcmaDUUWvt6-Q=w1920-h1080"></object>
              <object data="https://lh3.googleusercontent.com/C46wdvEP2EBcu8CVoPlTb8xT99roSHf5z2C1UffI933AfmVXvOoSeUP3qZVLVEdQ8f8w1q4o4AiJqwqYvg7Xqg4alhxTguHFcj4UDID26jd5J_ta9Ri_5GUUbCA645IhvCgiySx8YQ=w1920-h1080"></object>
              <object data="https://lh3.googleusercontent.com/0pVUboSONLLTwTjYtwheh-g5oD5Q6zchIy5ktHMusgOiHeqtT6KZRcPvV7xyLDv-IFeiNc6hqklhHkSjt5PV973PeoSfghec89pnzNPbo4_WBr6ieJKQ3LSWkkqoSjQNEk6rWbh67w=w1920-h1080"></object>
              <object data="https://lh3.googleusercontent.com/g3JtXL5TKA5EtBkiTjIexuW3XVxUVy6G7crUOdMLmEHm1caHj-EbC0R5H3vXE2zo9sPrC4lpV55oqYKTfTwY-NtAYt0NCiTCUPuv1m9nc8fZmZicw1hKE2enSfy3ci4NjA9nkNb3og=w1920-h1080"></object>
              <object data="https://lh3.googleusercontent.com/olfAXFD-koua50fc6o2-GLX9IM5tHZ5gBjaq7aORd-uX_suQNfy06ZYuhWiyvLw4fg0UzOsa0JwfmiOrgDJPCDVWQc_BuEmwvMlZEuR7dDWHhALZh7sUhXXrpuHlZM-5zHKw-EAHyA=w1920-h1080"></object>
              <object data="https://lh3.googleusercontent.com/nyt-SHVK9C3zWAtCjtPLjBiXs-gnZje12S5U-qOWbmUVO_qHwsBtdFW4FgCVjxmVI3SntXxkWup8zZ0rXLE0zcgjfhZ4U4imNKkN2YWch9chBIsUE6Iy1mYzfBYL4dUSwd8OXIyPFg=w1920-h1080"></object>
              <object data="https://lh3.googleusercontent.com/7KsTPD_A8hnw5GSAYdyWABN9KWfAwDIcmrxch3yGQEvcDLXVZY8CaASlQ6QGqw0AaqFvd2LdfLW2zhphsF94Z7OE7i6-DsoQv8--gqDKBh2lXSteZFO1UveaNSMVtCDY0cYr8vJCpQ=w1920-h1080"></object>
              <object data="https://lh3.googleusercontent.com/iIYpcYwywGgHsMULTnTt8fZ08VQzCqi86Ea6O1ejuHvP7qviWPjKRD1EMAeUpCpkgowI8d29W7sNYNhr1zwth9tafrN_gnw5TrQ0hP3YLtE42MDPfsT0kqld9QXj9-6gdB765pRUIw=w1920-h1080"></object>
              <object data="https://lh3.googleusercontent.com/1N_fEBeeFlBBZZfwpjyDbpKESpvbtJN8KntX46Q8iHPHhzCvhWke3n_-vohpknhRY_S5OHXFgXRnD87dfnjHAVrN-_Y3eQZIHxpme8c0DmXDaxQm-wcKEHG19-hB9Ajo8a73Z3_DBw=w1920-h1080"></object>
              <object data="https://lh3.googleusercontent.com/RN7D2Oz4pX42y2QTu2CvN1xcg62R54KzXIeWOraQdsWEZg5sKlo9TZFpK4iGLHxxtsRQpywoLVqYLNM1teGAR9s1ubixc0BUvWFlvZ46VqnWmKEPOIULqK5XNKpaXOxuxPada4kT9Q=w1920-h1080"></object>
              <object data="https://lh3.googleusercontent.com/IenIxDGrjCpWrd7labc6QqY5G_fQGo3xfNIvLF3DVJo7xbF7cfBBj8lyuWDqofRjfmWrXS8VbylMU5YvTloGlFh-mKMeuVMN0SIfOjEcjsBtxPSTVKNbCI26E4Cp3hwQCz1wkhQbAg=w1920-h1080"></object>
              <object data="https://lh3.googleusercontent.com/TtlNEiibCc8z8ZNKBzluI3JuGW2ifRMXJPEOh3on0HB5pq2907cm08TddAhNBnuDX24VgsqEfS-0kqn3afoODNlozrPl-BKbvF7l5M7gQkx0AcyNQAecmEPtV09RJD5tRuQqtUt4fg=w1920-h1080"></object>
              <object data="https://lh3.googleusercontent.com/739iryxN8JGebrNasq5O2C7hg4UcNFbL2m7A05irFQAUNDo2g__G7kUsG7FO67zpEs7GhHPLFYNR97RVzNxjQ83mXbE9sRcAM_X8E_FVRrmbVyFmnpBo05W6-nEdpypeiiJb6q6CFA=w1920-h1080"></object>
              <object data="https://lh3.googleusercontent.com/EoL07dcO8Gxfoa63wS3MVD47f4ZSkBhLi062r_P6N1jOJ8egFvlTEM7cGEM0LQuiDdnxIqJbmSNOFCuhoQVg4fxUN0gxc7M5Gh7WSRIH3KjAmPODKtyzPMcFKtiqa1stb8twlvIF7A=w1920-h1080"></object>
              <object data="https://lh3.googleusercontent.com/UEjdoQNtkvDEBfQ4cn7Pf4jylBL2TlRDgKsjc3C6wQ4TYON3sKoXV-mF0lrLGzwq8vJ7-S6dcg1Hcts-4u63ctJwcstaYwpewwDtn227oD_9LV53FU93P6jmquGROpzblIyZrTpGaw=w1920-h1080"></object>
              <object data="https://lh3.googleusercontent.com/1Pz1obrtYk1jxIkJFPKL1AqjA5ShjJBRtnn15seVyGd2NLNb-xVuZ4N2LBwZ70OboNmbnrSBhG6qFg0wxODJfDT_TQ9pv5efVUFlBN3dM_5Uyvn2RGspdEWbuRY5bWRQ13C8FBQ64Q=w1920-h1080"></object>
            </div>
            


          </div>
        </div>
      </div>
    </section><!-- End About Section -->

  </main><!-- End #main -->


{% endblock content %}