{% extends 'base.html' %}
{% load static %}

{% block title_tag %}Naval Air Development/Warface Center (NADC/NAWC) {% endblock %}

{% block headscript %}
<link href="{% static 'vendor/venobox/venobox.min.css' %}" rel="stylesheet">
{% endblock headscript %}

{% block content %}

<main id="main">
    <!-- ======= Breadcrumbs ======= -->
    <div class="breadcrumbs" data-aos="fade-in">
      <div class="container">
        <h2>Naval Air Development/Warface Center (NADC/NAWC)</h2>
        {% comment %} <p>Est dolorum ut non facere possimus quibusdam eligendi voluptatem. Quia id aut similique quia voluptas sit quaerat debitis. Rerum omnis ipsam aperiam consequatur laboriosam nemo harum praesentium. </p> {% endcomment %}
      </div>
    </div><!-- End Breadcrumbs -->

    <!-- ======= About Section ======= -->
    <section id="dfs-page" class="about">
      <div class="container mb-4" data-aos="fade-up">
        <div class="section-title">
          <h2 class="page-subtitle" style="margin-top:20px;">Did You know?</h2>
        </div>
        <div class="row">
          <div class="col-lg-12 pt-4 pt-lg-0 content">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In porttitor, tellus eu gravida tempus, felis ante venenatis orci, sit amet vehicula sapien risus sed sapien. Nam mattis felis ac velit volutpat vestibulum. 
            Maecenas mollis euismod sapien vel faucibus. Vivamus in enim sodales, interdum velit eget, semper nunc. Nulla pharetra aliquet malesuada. Quisque dictum nisl ac risus suscipit pretium. Cras in tellus eros. Nulla semper id leo ut tempor. 
            Donec at egestas nisl. </p>
              <div class="portfolio-grid">
                <div class="row">
                  <div class="col-lg-3 col-sm-6 col-xs-12">
                    <div class="card card-block">
                      <a href="{% static 'img/nadc/slide1.jpg' %}" class="venobox" data-gall="portfolioGallery"><img class="dyk-slide" alt="" src="{% static 'img/nadc/slide1.jpg' %}">
                        <div class="portfolio-over dyk-slide">
                          <div>
                            <h3 class="card-title">
                              <i class="bx bx-plus"></i>
                            </h3>
                          </div>
                        </div>
                      </a>
                    </div>
                  </div>

                  <div class="col-lg-3 col-sm-6 col-xs-12">
                    <div class="card card-block">
                      <a href="{% static 'img/nadc/slide2.jpg' %}" class="venobox" data-gall="portfolioGallery"><img class="dyk-slide" alt="" src="{% static 'img/nadc/slide2.jpg' %}">
                        <div class="portfolio-over dyk-slide">
                          <div>
                            <h3 class="card-title">
                              <i class="bx bx-plus"></i>
                            </h3>
                          </div>
                        </div>
                      </a>
                    </div>
                  </div>

                  <div class="col-lg-3 col-sm-6 col-xs-12">
                    <div class="card card-block">
                      <a href="{% static 'img/nadc/slide3.jpg' %}" class="venobox" data-gall="portfolioGallery"><img class="dyk-slide" alt="" src="{% static 'img/nadc/slide3.jpg' %}">
                        <div class="portfolio-over dyk-slide">
                          <div>
                            <h3 class="card-title">
                              <i class="bx bx-plus"></i>
                            </h3>
                          </div>
                        </div>
                      </a>
                    </div>
                  </div>

                  <div class="col-lg-3 col-sm-6 col-xs-12">
                    <div class="card card-block">
                      <a href="{% static 'img/nadc/slide4.jpg' %}" class="venobox" data-gall="portfolioGallery"><img class="dyk-slide" alt="" src="{% static 'img/nadc/slide4.jpg' %}">
                        <div class="portfolio-over dyk-slide">
                          <div>
                            <h3 class="card-title">
                              <i class="bx bx-plus"></i>
                            </h3>
                          </div>
                        </div>
                      </a>
                    </div>
                  </div>

                  <div class="col-lg-3 col-sm-6 col-xs-12">
                    <div class="card card-block">
                      <a href="{% static 'img/nadc/slide5.jpg' %}" class="venobox" data-gall="portfolioGallery"><img class="dyk-slide" alt="" src="{% static 'img/nadc/slide5.jpg' %}">
                        <div class="portfolio-over dyk-slide">
                          <div>
                            <h3 class="card-title">
                              <i class="bx bx-plus"></i>
                            </h3>
                          </div>
                        </div>
                      </a>
                    </div>
                  </div>

                  <div class="col-lg-3 col-sm-6 col-xs-12">
                    <div class="card card-block">
                      <a href="{% static 'img/nadc/slide6.jpg' %}" class="venobox" data-gall="portfolioGallery"><img class="dyk-slide" alt="" src="{% static 'img/nadc/slide6.jpg' %}">
                        <div class="portfolio-over dyk-slide">
                          <div>
                            <h3 class="card-title">
                              <i class="bx bx-plus"></i>
                            </h3>
                          </div>
                        </div>
                      </a>
                    </div>
                  </div>

                  <div class="col-lg-3 col-sm-6 col-xs-12">
                    <div class="card card-block">
                      <a href="{% static 'img/nadc/slide7.jpg' %}" class="venobox" data-gall="portfolioGallery"><img class="dyk-slide" alt="" src="{% static 'img/nadc/slide7.jpg' %}">
                        <div class="portfolio-over dyk-slide">
                          <div>
                            <h3 class="card-title">
                              <i class="bx bx-plus"></i>
                            </h3>
                          </div>
                        </div>
                      </a>
                    </div>
                  </div>

                  <div class="col-lg-3 col-sm-6 col-xs-12">
                    <div class="card card-block">
                      <a href="{% static 'img/nadc/slide8.jpg' %}" class="venobox" data-gall="portfolioGallery"><img class="dyk-slide" alt="" src="{% static 'img/nadc/slide8.jpg' %}">
                        <div class="portfolio-over dyk-slide">
                          <div>
                            <h3 class="card-title">
                              <i class="bx bx-plus"></i>
                            </h3>
                          </div>
                        </div>
                      </a>
                    </div>
                  </div>

                 <div class="col-12 text-center">
                   <button class="btn btn-primary mt-3 mb-3" type="button" data-toggle="collapse" data-target="#collapseSlides" aria-expanded="false" aria-controls="collapseSlides">
                      View All Slides
                    </button>
                 </div> 
            
                  <div class="collapse" id="collapseSlides">
                    <div class="row">
                      <div class="col-lg-3 col-sm-6 col-xs-12">
                        <div class="card card-block">
                          <a href="{% static 'img/nadc/slide9.jpg' %}" class="venobox" data-gall="portfolioGallery"><img class="dyk-slide" alt="" src="{% static 'img/nadc/slide9.jpg' %}">
                            <div class="portfolio-over dyk-slide">
                              <div>
                                <h3 class="card-title">
                                  <i class="bx bx-plus"></i>
                                </h3>
                              </div>
                            </div>
                          </a>
                        </div>
                      </div>

                      <div class="col-lg-3 col-sm-6 col-xs-12">
                        <div class="card card-block">
                          <a href="{% static 'img/nadc/slide10.jpg' %}" class="venobox" data-gall="portfolioGallery"><img class="dyk-slide" alt="" src="{% static 'img/nadc/slide10.jpg' %}">
                            <div class="portfolio-over dyk-slide">
                              <div>
                                <h3 class="card-title">
                                  <i class="bx bx-plus"></i>
                                </h3>
                              </div>
                            </div>
                          </a>
                        </div>
                      </div>

                      <div class="col-lg-3 col-sm-6 col-xs-12">
                        <div class="card card-block">
                          <a href="{% static 'img/nadc/slide11.jpg' %}" class="venobox" data-gall="portfolioGallery"><img class="dyk-slide" alt="" src="{% static 'img/nadc/slide11.jpg' %}">
                            <div class="portfolio-over dyk-slide">
                              <div>
                                <h3 class="card-title">
                                  <i class="bx bx-plus"></i>
                                </h3>
                              </div>
                            </div>
                          </a>
                        </div>
                      </div>

                      <div class="col-lg-3 col-sm-6 col-xs-12">
                        <div class="card card-block">
                          <a href="{% static 'img/nadc/slide12.jpg' %}" class="venobox" data-gall="portfolioGallery"><img class="dyk-slide" alt="" src="{% static 'img/nadc/slide12.jpg' %}">
                            <div class="portfolio-over dyk-slide">
                              <div>
                                <h3 class="card-title">
                                  <i class="bx bx-plus"></i>
                                </h3>
                              </div>
                            </div>
                          </a>
                        </div>
                      </div>

                      <div class="col-lg-3 col-sm-6 col-xs-12">
                        <div class="card card-block">
                          <a href="{% static 'img/nadc/slide13.jpg' %}" class="venobox" data-gall="portfolioGallery"><img class="dyk-slide" alt="" src="{% static 'img/nadc/slide13.jpg' %}">
                            <div class="portfolio-over dyk-slide">
                              <div>
                                <h3 class="card-title">
                                  <i class="bx bx-plus"></i>
                                </h3>
                              </div>
                            </div>
                          </a>
                        </div>
                      </div>

                      <div class="col-lg-3 col-sm-6 col-xs-12">
                        <div class="card card-block">
                          <a href="{% static 'img/nadc/slide14.jpg' %}" class="venobox" data-gall="portfolioGallery"><img class="dyk-slide" alt="" src="{% static 'img/nadc/slide14.jpg' %}">
                            <div class="portfolio-over dyk-slide">
                              <div>
                                <h3 class="card-title">
                                  <i class="bx bx-plus"></i>
                                </h3>
                              </div>
                            </div>
                          </a>
                        </div>
                      </div>

                      <div class="col-lg-3 col-sm-6 col-xs-12">
                        <div class="card card-block">
                          <a href="{% static 'img/nadc/slide15.jpg' %}" class="venobox" data-gall="portfolioGallery"><img class="dyk-slide" alt="" src="{% static 'img/nadc/slide15.jpg' %}">
                            <div class="portfolio-over dyk-slide">
                              <div>
                                <h3 class="card-title">
                                  <i class="bx bx-plus"></i>
                                </h3>
                              </div>
                            </div>
                          </a>
                        </div>
                      </div>

                      <div class="col-lg-3 col-sm-6 col-xs-12">
                        <div class="card card-block">
                          <a href="{% static 'img/nadc/slide16.jpg' %}" class="venobox" data-gall="portfolioGallery"><img class="dyk-slide" alt="" src="{% static 'img/nadc/slide16.jpg' %}">
                            <div class="portfolio-over dyk-slide">
                              <div>
                                <h3 class="card-title">
                                  <i class="bx bx-plus"></i>
                                </h3>
                              </div>
                            </div>
                          </a>
                        </div>
                      </div>

                      <div class="col-lg-3 col-sm-6 col-xs-12">
                        <div class="card card-block">
                          <a href="{% static 'img/nadc/slide17.jpg' %}" class="venobox" data-gall="portfolioGallery"><img class="dyk-slide" alt="" src="{% static 'img/nadc/slide17.jpg' %}">
                            <div class="portfolio-over dyk-slide">
                              <div>
                                <h3 class="card-title">
                                  <i class="bx bx-plus"></i>
                                </h3>
                              </div>
                            </div>
                          </a>
                        </div>
                      </div>


                      <div class="col-lg-3 col-sm-6 col-xs-12">
                        <div class="card card-block">
                          <a href="{% static 'img/nadc/slide18.jpg' %}" class="venobox" data-gall="portfolioGallery"><img class="dyk-slide" alt="" src="{% static 'img/nadc/slide18.jpg' %}">
                            <div class="portfolio-over dyk-slide">
                              <div>
                                <h3 class="card-title">
                                  <i class="bx bx-plus"></i>
                                </h3>
                              </div>
                            </div>
                          </a>
                        </div>
                      </div>


                      <div class="col-lg-3 col-sm-6 col-xs-12">
                        <div class="card card-block">
                          <a href="{% static 'img/nadc/slide19.jpg' %}" class="venobox" data-gall="portfolioGallery"><img class="dyk-slide" alt="" src="{% static 'img/nadc/slide19.jpg' %}">
                            <div class="portfolio-over dyk-slide">
                              <div>
                                <h3 class="card-title">
                                  <i class="bx bx-plus"></i>
                                </h3>
                              </div>
                            </div>
                          </a>
                        </div>
                      </div>

                      <div class="col-lg-3 col-sm-6 col-xs-12">
                        <div class="card card-block">
                          <a href="{% static 'img/nadc/slide20.jpg' %}" class="venobox" data-gall="portfolioGallery"><img class="dyk-slide" alt="" src="{% static 'img/nadc/slide20.jpg' %}">
                            <div class="portfolio-over dyk-slide">
                              <div>
                                <h3 class="card-title">
                                  <i class="bx bx-plus"></i>
                                </h3>
                              </div>
                            </div>
                          </a>
                        </div>
                      </div>

                      <div class="col-lg-3 col-sm-6 col-xs-12">
                        <div class="card card-block">
                          <a href="{% static 'img/nadc/slide21.jpg' %}" class="venobox" data-gall="portfolioGallery"><img class="dyk-slide" alt="" src="{% static 'img/nadc/slide21.jpg' %}">
                            <div class="portfolio-over dyk-slide">
                              <div>
                                <h3 class="card-title">
                                  <i class="bx bx-plus"></i>
                                </h3>
                              </div>
                            </div>
                          </a>
                        </div>
                      </div>
                    </div>
                  </div>















                </div>
              </div>
            </div>
          </div>
        </div>

      <div class="container nadc-photo-gallery mb-5" data-aos="fade-up">
        <div class="section-title">
          <h2 class="page-subtitle">Photo Archive</h2>
        </div>
        <div class="row">
          <div class="col-lg-12 pt-4 pt-lg-0 content">
            {{text|safe|truncatechars:"350"}}
          </div>
        </div>
        <div class="row">
        <div class="card-deck">
          {% for photo in photos %}
          <div class="col-lg-3">
            <div class="card" style="width: 18rem;">
              <img src="{{photo.photo.url}}" class="card-img-top" alt="...">
              <div class="card-body">
                <p class="card-text">{{photo.comment_count}} Comments</p>
                <div class="text-center">
                  <a class="btn btn-danger btn-sm" href="{% url 'nadc_photo_detail' pk=photo.pk %}">View Photo</a>
                </div>
              </div>
            </div>
          </div>
          {% endfor %}
        </div>
          <div class="col-12 text-center mt-3">
            <a class="btn btn-primary btn-lg" href="{% url 'nadc_photo_list' %}">View Entire Archive</a>
          </div>
        </div>
      </div>

      <div class="container" data-aos="fade-up">
        <div class="section-title">
          <h2 class="page-subtitle">Artifacts</h2>
        </div>
        <div class="row">
          <div class="col-lg-12 pt-4 pt-lg-0 content">
            
          </div>
        </div>
      </div>

      <div class="container" data-aos="fade-up">
        <div class="section-title">
          <h2 class="page-subtitle">Reunions</h2>
        </div>
        <div class="row">
            <div class="col-lg-6 pt-4 pt-lg-0 content">
              <div class="card">
              <img src="{% static 'img/nadc/reunions/15th-main.jpg'%}" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-text"><a href="{% url 'nadc_15th_reunion' %}">15th Reunion</a></h5>
                <p>October 29, 2011<br>
                Spring Mill Manor (Ivyland, Pennsylvania)</p>
              </div>
            </div>
          </div>
            <div class="col-lg-6 pt-4 pt-lg-0 content">
              <div class="card">
              <img src="{% static 'img/nadc/reunions/20th-main.jpg'%}" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-text"><a href="#">20th Reunion</a></h5>
                <p>September 16, 2016<br>
                The Fuge (Warminster, Pennsylvania)</p>

              </div>
            </div>
          </div>
        </div>
      </div>


      <div class="container" data-aos="fade-up">
        <div class="section-title long-title">
          <h2 class="page-subtitle">The Naval Air Development Center Group</h2>
        </div>
        <div class="row">
          <div class="col-lg-12 pt-4 pt-lg-0 content">
            <p>The purpose of this group is to update former employees on events and activities. If you were in any way connected with this facility, civilian, military or contractor, we encourage you to join 
            our group. Please note that the group moderator cannot add or modify your email address. You have full control over joining, leaving or changing your account information. This is a closed list, only 
            members can send or view messages. If you want to keep up to date on NADC activities and events this group is the primary means of communication.</p>
            <div class="mt-3 text-center">
              <a class="btn btn-primary" href="https://groups.io/g/navairdevcen">Visit NADC Group</a>
            </div>
          </div>
        </div>
      </div>

    </section><!-- End About Section -->

  </main><!-- End #main -->


{% endblock content %}


{% block footscript %}
  <script src="{% static 'vendor/venobox/venobox.min.js' %}"></script>
{% endblock footscript %}