{% extends 'base.html' %}
{% load static %}

{% block title_tag %}Naval Air Development/Warface Center (NADC/NAWC) {% endblock %}

{% block headscript %}
<link href="{% static 'vendor/venobox/venobox.min.css' %}" rel="stylesheet">
{% endblock headscript %}

{% block content %}

<main id="main">
    <!-- ======= Breadcrumbs ======= -->
    <div class="breadcrumbs" data-aos="fade-in">
      <div class="container">
        <h2>Naval Air Development/Warfare Center (NADC/NAWC)</h2>
        {% comment %} <p>Est dolorum ut non facere possimus quibusdam eligendi voluptatem. Quia id aut similique quia voluptas sit quaerat debitis. Rerum omnis ipsam aperiam consequatur laboriosam nemo harum praesentium. </p> {% endcomment %}
      </div>
    </div><!-- End Breadcrumbs -->

    <!-- ======= About Section ======= -->
    <section id="dfs-page" class="about">
      <div class="container mb-4" data-aos="fade-up">
        <p>The Naval Air Warfare Center (NAWC) Warminster, formerly the Naval Air Development Center (NADC), had a rich, 50-year history of advanced naval research and development (1944 to 1996). The facility has also been referred to as 
        Johnsville Naval Air Development Center, NADC Johnsville or simply, Johnsville (a historical name referring to part of the area now incorporated as Warminster, PA. It is believed to have been named Johnsville around 1814 in honor of John, 
        the son of James Craven, a member of one of the prominent founding families of the area.)</p>
        <p>Following a government takeover of the mismanaged Brewster Aeronautical Corporation one this site in 1944, the Navy acquired the 824 acre location (with its one million square feet of production and administration space and an adjoining 
        airfield and aircraft hangars) and began operations initially as the Naval Air Modification Unit (NAMU). The mission of the facility involved conversion and modification of Navy aircraft prior to delivery to their combat units.</p>
        <p>By 1947, NAMU was redesignated as a research and development facility, and was eventually renamed the Naval Air Development Center (NADC.) It gradually began to expand as research activities from other parts of the country were relocated 
        there to fulfill its main mission as a premier center for naval aviation excellence: research, development, testing, and evaluation of Naval aircraft, airborne anti-submarine warfare and aircraft systems. </p>
        <p>Contributions of NADC researchers spanned numerous areas, including pilot and aircrew safety and survivability technologies (use of NOMEX as a fire retardant material for flight suits was prototyped and operationalized there), electronic 
        equipment innovations (avionics, displays, communication, navigation and computer-enhanced flight simulation), leading edge sensors (radar, laser, infrared, optical and night vision), and other advanced aircraft technologies (structure, 
        materials, lubricants, paints and control surfaces.)</p>
        <p>NADC’s 30 laboratories employed 2600 civilians, including 1600 scientists and engineers; 300 military were also stationed there and took part in research and development duties.</p>
        <p>NADC was also the home of the Aviation Medical Acceleration Laboratory, which housed the world’s most powerful human centrifuge. It began operation in the early 1950s and was used by NASA for training of X-15 pilots as well as astronauts 
        from Project Mercury and Project Gemini.</p>
        <p>In January 1993, the facility name was changed from NADC to the Naval Air Warfare Center (NAWC) Warminster.  In 1996, NAWC Warminster was realigned under the BRAC (Base Realignment And Closure) program, relocating activities to Naval Air 
        Station Patuxent River, Maryland. The base closed permanently on September 30, 1996 and has been redeveloped for nonmilitary use.</p>
        <p><strong>References</strong><br>
          <a href="http://www.navairdevcen.org">Doug Crompton’s NADC website</a> (Doug was a former NADC employee)<br>
          <a href="https://warminstertownship.org/275years/">A History of Warminster Township.</a><br>
          <a href="https://www.bracpmo.navy.mil/brac_bases/northeast/former_warfare_center_warminster.html">NAVFAC. Former Naval Air Warfare Center Warminster.</a><br>
          <a href="http://navairdevcen.org/PDF/nadc50th.pdf" target="_blank">NADC 50th Reunion Picnic Program Booklet.</a><br>
          <a href="http://navairdevcen.org/NADC_ACT_speech.html">Speech of Captain William L. McCracken</a> during NADC historical marker dedication ceremony, June 3, 2006.<br>
          <a href="{% static 'img/nadc/history_nadc_1973.pdf' %}" target="_blank">NADC History from recruitment brochure, 1973</a><br>
          <a href="{% static 'img/nadc/nadc_facts_figures_1973.pdf' %}" target="_blank">NADC Facts and Figures from recruitment brochure, 1973</a><br>
          <a href="{% static 'img/nadc/nadc_mission_organization_1973.pdf' %}" target="_blank">NADC Mission and Organization from recruitment brochure, 1973</a><br>
          <a href="{% static 'img/nadc/nac_brochure_for_recruit_1986.pdf' %}" target="_blank">NADC recruitment brochure, 1986</a><br>
          <a href="https://elevatedwebsystems.nyc3.digitaloceanspaces.com/SEPA-coldwar/BASIC-%20front%20cover.jpeg.pdf" target="_blank">BASIC: Basic Avionics System Integration Concept brochure</a><br>
          
        </p>  
        <div class="section-title" style="padding-top:20px;">
          <h2 class="page-subtitle" style="margin-top:20px;">Did You know?</h2>
        </div>
        <div class="row">
          <div class="col-lg-12 pt-4 pt-lg-0 content">
            <p>This gallery contains some fun and interesting factoids about the Naval Air Development Center’s history. Click on an image to enlarge.</p>
              <div class="portfolio-grid">
                <div class="row">

                  <div class="col-lg-3 col-sm-6 col-xs-12">
                    <div class="card card-block">
                      <a href="https://elevatedwebsystems.nyc3.digitaloceanspaces.com/SEPA-coldwar/Slide22.JPG" class="venobox" data-gall="portfolioGallery"><img class="dyk-slide" alt="" src="https://elevatedwebsystems.nyc3.digitaloceanspaces.com/SEPA-coldwar/Slide22.JPG">
                        <div class="portfolio-over dyk-slide">
                          <div>
                            <h3 class="card-title">
                              <i class="bx bx-plus"></i>
                            </h3>
                          </div>
                        </div>
                      </a>
                    </div>
                  </div>
                  <div class="col-lg-3 col-sm-6 col-xs-12">
                    <div class="card card-block">
                      <a href="https://elevatedwebsystems.nyc3.digitaloceanspaces.com/SEPA-coldwar/Slide23.JPG" class="venobox" data-gall="portfolioGallery"><img class="dyk-slide" alt="" src="https://elevatedwebsystems.nyc3.digitaloceanspaces.com/SEPA-coldwar/Slide23.JPG">
                        <div class="portfolio-over dyk-slide">
                          <div>
                            <h3 class="card-title">
                              <i class="bx bx-plus"></i>
                            </h3>
                          </div>
                        </div>
                      </a>
                    </div>
                  </div>
                  <div class="col-lg-3 col-sm-6 col-xs-12">
                    <div class="card card-block">
                      <a href="https://elevatedwebsystems.nyc3.digitaloceanspaces.com/SEPA-coldwar/Slide24.JPG" class="venobox" data-gall="portfolioGallery"><img class="dyk-slide" alt="" src="https://elevatedwebsystems.nyc3.digitaloceanspaces.com/SEPA-coldwar/Slide24.JPG">
                        <div class="portfolio-over dyk-slide">
                          <div>
                            <h3 class="card-title">
                              <i class="bx bx-plus"></i>
                            </h3>
                          </div>
                        </div>
                      </a>
                    </div>
                  </div>
                  <div class="col-lg-3 col-sm-6 col-xs-12">
                    <div class="card card-block">
                      <a href="https://elevatedwebsystems.nyc3.digitaloceanspaces.com/SEPA-coldwar/Slide25.JPG" class="venobox" data-gall="portfolioGallery"><img class="dyk-slide" alt="" src="https://elevatedwebsystems.nyc3.digitaloceanspaces.com/SEPA-coldwar/Slide25.JPG">
                        <div class="portfolio-over dyk-slide">
                          <div>
                            <h3 class="card-title">
                              <i class="bx bx-plus"></i>
                            </h3>
                          </div>
                        </div>
                      </a>
                    </div>
                  </div>


                  <div class="col-lg-3 col-sm-6 col-xs-12">
                    <div class="card card-block">
                      <a href="{% static 'img/nadc/slide2.jpg' %}" class="venobox" data-gall="portfolioGallery"><img class="dyk-slide" alt="" src="{% static 'img/nadc/slide2.jpg' %}">
                        <div class="portfolio-over dyk-slide">
                          <div>
                            <h3 class="card-title">
                              <i class="bx bx-plus"></i>
                            </h3>
                          </div>
                        </div>
                      </a>
                    </div>
                  </div>

                  <div class="col-lg-3 col-sm-6 col-xs-12">
                    <div class="card card-block">
                      <a href="{% static 'img/nadc/slide3.jpg' %}" class="venobox" data-gall="portfolioGallery"><img class="dyk-slide" alt="" src="{% static 'img/nadc/slide3.jpg' %}">
                        <div class="portfolio-over dyk-slide">
                          <div>
                            <h3 class="card-title">
                              <i class="bx bx-plus"></i>
                            </h3>
                          </div>
                        </div>
                      </a>
                    </div>
                  </div>

                  <div class="col-lg-3 col-sm-6 col-xs-12">
                    <div class="card card-block">
                      <a href="{% static 'img/nadc/slide4.jpg' %}" class="venobox" data-gall="portfolioGallery"><img class="dyk-slide" alt="" src="{% static 'img/nadc/slide4.jpg' %}">
                        <div class="portfolio-over dyk-slide">
                          <div>
                            <h3 class="card-title">
                              <i class="bx bx-plus"></i>
                            </h3>
                          </div>
                        </div>
                      </a>
                    </div>
                  </div>

                  <div class="col-lg-3 col-sm-6 col-xs-12">
                    <div class="card card-block">
                      <a href="{% static 'img/nadc/slide5.jpg' %}" class="venobox" data-gall="portfolioGallery"><img class="dyk-slide" alt="" src="{% static 'img/nadc/slide5.jpg' %}">
                        <div class="portfolio-over dyk-slide">
                          <div>
                            <h3 class="card-title">
                              <i class="bx bx-plus"></i>
                            </h3>
                          </div>
                        </div>
                      </a>
                    </div>
                  </div>



                 <div class="col-12 text-center">
                   <button class="btn btn-primary mt-3 mb-3" type="button" data-toggle="collapse" data-target="#collapseSlides" aria-expanded="false" aria-controls="collapseSlides">
                      View All Slides
                    </button>
                 </div> 
            
                  <div class="collapse" id="collapseSlides">
                    <div class="row">

                      <div class="col-lg-3 col-sm-6 col-xs-12">
                        <div class="card card-block">
                          <a href="{% static 'img/nadc/slide6.jpg' %}" class="venobox" data-gall="portfolioGallery"><img class="dyk-slide" alt="" src="{% static 'img/nadc/slide6.jpg' %}">
                            <div class="portfolio-over dyk-slide">
                              <div>
                                <h3 class="card-title">
                                  <i class="bx bx-plus"></i>
                                </h3>
                              </div>
                            </div>
                          </a>
                        </div>
                      </div>
    
                      <div class="col-lg-3 col-sm-6 col-xs-12">
                        <div class="card card-block">
                          <a href="{% static 'img/nadc/slide7.jpg' %}" class="venobox" data-gall="portfolioGallery"><img class="dyk-slide" alt="" src="{% static 'img/nadc/slide7.jpg' %}">
                            <div class="portfolio-over dyk-slide">
                              <div>
                                <h3 class="card-title">
                                  <i class="bx bx-plus"></i>
                                </h3>
                              </div>
                            </div>
                          </a>
                        </div>
                      </div>
    
                      <div class="col-lg-3 col-sm-6 col-xs-12">
                        <div class="card card-block">
                          <a href="{% static 'img/nadc/slide8.jpg' %}" class="venobox" data-gall="portfolioGallery"><img class="dyk-slide" alt="" src="{% static 'img/nadc/slide8.jpg' %}">
                            <div class="portfolio-over dyk-slide">
                              <div>
                                <h3 class="card-title">
                                  <i class="bx bx-plus"></i>
                                </h3>
                              </div>
                            </div>
                          </a>
                        </div>
                      </div>
    
                          <div class="col-lg-3 col-sm-6 col-xs-12">
                            <div class="card card-block">
                              <a href="{% static 'img/nadc/slide9.jpg' %}" class="venobox" data-gall="portfolioGallery"><img class="dyk-slide" alt="" src="{% static 'img/nadc/slide9.jpg' %}">
                                <div class="portfolio-over dyk-slide">
                                  <div>
                                    <h3 class="card-title">
                                      <i class="bx bx-plus"></i>
                                    </h3>
                                  </div>
                                </div>
                              </a>
                            </div>
                          </div>

                      <div class="col-lg-3 col-sm-6 col-xs-12">
                        <div class="card card-block">
                          <a href="{% static 'img/nadc/slide10.jpg' %}" class="venobox" data-gall="portfolioGallery"><img class="dyk-slide" alt="" src="{% static 'img/nadc/slide10.jpg' %}">
                            <div class="portfolio-over dyk-slide">
                              <div>
                                <h3 class="card-title">
                                  <i class="bx bx-plus"></i>
                                </h3>
                              </div>
                            </div>
                          </a>
                        </div>
                      </div>

                      <div class="col-lg-3 col-sm-6 col-xs-12">
                        <div class="card card-block">
                          <a href="{% static 'img/nadc/slide11.jpg' %}" class="venobox" data-gall="portfolioGallery"><img class="dyk-slide" alt="" src="{% static 'img/nadc/slide11.jpg' %}">
                            <div class="portfolio-over dyk-slide">
                              <div>
                                <h3 class="card-title">
                                  <i class="bx bx-plus"></i>
                                </h3>
                              </div>
                            </div>
                          </a>
                        </div>
                      </div>

                      <div class="col-lg-3 col-sm-6 col-xs-12">
                        <div class="card card-block">
                          <a href="{% static 'img/nadc/slide12.jpg' %}" class="venobox" data-gall="portfolioGallery"><img class="dyk-slide" alt="" src="{% static 'img/nadc/slide12.jpg' %}">
                            <div class="portfolio-over dyk-slide">
                              <div>
                                <h3 class="card-title">
                                  <i class="bx bx-plus"></i>
                                </h3>
                              </div>
                            </div>
                          </a>
                        </div>
                      </div>

                      <div class="col-lg-3 col-sm-6 col-xs-12">
                        <div class="card card-block">
                          <a href="{% static 'img/nadc/slide13.jpg' %}" class="venobox" data-gall="portfolioGallery"><img class="dyk-slide" alt="" src="{% static 'img/nadc/slide13.jpg' %}">
                            <div class="portfolio-over dyk-slide">
                              <div>
                                <h3 class="card-title">
                                  <i class="bx bx-plus"></i>
                                </h3>
                              </div>
                            </div>
                          </a>
                        </div>
                      </div>

                      <div class="col-lg-3 col-sm-6 col-xs-12">
                        <div class="card card-block">
                          <a href="{% static 'img/nadc/slide14.jpg' %}" class="venobox" data-gall="portfolioGallery"><img class="dyk-slide" alt="" src="{% static 'img/nadc/slide14.jpg' %}">
                            <div class="portfolio-over dyk-slide">
                              <div>
                                <h3 class="card-title">
                                  <i class="bx bx-plus"></i>
                                </h3>
                              </div>
                            </div>
                          </a>
                        </div>
                      </div>

                      <div class="col-lg-3 col-sm-6 col-xs-12">
                        <div class="card card-block">
                          <a href="{% static 'img/nadc/slide15.jpg' %}" class="venobox" data-gall="portfolioGallery"><img class="dyk-slide" alt="" src="{% static 'img/nadc/slide15.jpg' %}">
                            <div class="portfolio-over dyk-slide">
                              <div>
                                <h3 class="card-title">
                                  <i class="bx bx-plus"></i>
                                </h3>
                              </div>
                            </div>
                          </a>
                        </div>
                      </div>

                      <div class="col-lg-3 col-sm-6 col-xs-12">
                        <div class="card card-block">
                          <a href="{% static 'img/nadc/slide16.jpg' %}" class="venobox" data-gall="portfolioGallery"><img class="dyk-slide" alt="" src="{% static 'img/nadc/slide16.jpg' %}">
                            <div class="portfolio-over dyk-slide">
                              <div>
                                <h3 class="card-title">
                                  <i class="bx bx-plus"></i>
                                </h3>
                              </div>
                            </div>
                          </a>
                        </div>
                      </div>

                      <div class="col-lg-3 col-sm-6 col-xs-12">
                        <div class="card card-block">
                          <a href="{% static 'img/nadc/slide17.jpg' %}" class="venobox" data-gall="portfolioGallery"><img class="dyk-slide" alt="" src="{% static 'img/nadc/slide17.jpg' %}">
                            <div class="portfolio-over dyk-slide">
                              <div>
                                <h3 class="card-title">
                                  <i class="bx bx-plus"></i>
                                </h3>
                              </div>
                            </div>
                          </a>
                        </div>
                      </div>


                      <div class="col-lg-3 col-sm-6 col-xs-12">
                        <div class="card card-block">
                          <a href="{% static 'img/nadc/slide18.jpg' %}" class="venobox" data-gall="portfolioGallery"><img class="dyk-slide" alt="" src="{% static 'img/nadc/slide18.jpg' %}">
                            <div class="portfolio-over dyk-slide">
                              <div>
                                <h3 class="card-title">
                                  <i class="bx bx-plus"></i>
                                </h3>
                              </div>
                            </div>
                          </a>
                        </div>
                      </div>


                      <div class="col-lg-3 col-sm-6 col-xs-12">
                        <div class="card card-block">
                          <a href="{% static 'img/nadc/slide19.jpg' %}" class="venobox" data-gall="portfolioGallery"><img class="dyk-slide" alt="" src="{% static 'img/nadc/slide19.jpg' %}">
                            <div class="portfolio-over dyk-slide">
                              <div>
                                <h3 class="card-title">
                                  <i class="bx bx-plus"></i>
                                </h3>
                              </div>
                            </div>
                          </a>
                        </div>
                      </div>

                      <div class="col-lg-3 col-sm-6 col-xs-12">
                        <div class="card card-block">
                          <a href="{% static 'img/nadc/slide20.jpg' %}" class="venobox" data-gall="portfolioGallery"><img class="dyk-slide" alt="" src="{% static 'img/nadc/slide20.jpg' %}">
                            <div class="portfolio-over dyk-slide">
                              <div>
                                <h3 class="card-title">
                                  <i class="bx bx-plus"></i>
                                </h3>
                              </div>
                            </div>
                          </a>
                        </div>
                      </div>

                      <div class="col-lg-3 col-sm-6 col-xs-12">
                        <div class="card card-block">
                          <a href="{% static 'img/nadc/slide21.jpg' %}" class="venobox" data-gall="portfolioGallery"><img class="dyk-slide" alt="" src="{% static 'img/nadc/slide21.jpg' %}">
                            <div class="portfolio-over dyk-slide">
                              <div>
                                <h3 class="card-title">
                                  <i class="bx bx-plus"></i>
                                </h3>
                              </div>
                            </div>
                          </a>
                        </div>
                      </div>
                      


                    </div>
                  </div>















                </div>
              </div>
            </div>
          </div>
        </div>

      <div class="container nadc-photo-gallery mb-5" data-aos="fade-up">
        <div class="section-title">
          <h2 class="page-subtitle">Photo Archive</h2>
        </div>
        <div class="row">
          <div class="col-lg-12 pt-4 pt-lg-0 content">
            {{text|safe}}
          </div>
        </div>
        <div class="row">
        <div class="card-deck">
          {% for photo in photos %}
          <div class="col-lg-3">
            <div class="card" style="width: 18rem;">
              <img src="{{photo.photo.url}}" class="card-img-top" alt="...">
              <div class="card-body">
                <p class="card-text">{{photo.comment_count}} Comments</p>
                <div class="text-center">
                  <a class="btn btn-danger btn-sm" href="{% url 'nadc_photo_detail' pk=photo.pk %}">View Photo</a>
                </div>
              </div>
            </div>
          </div>
          {% endfor %}
        </div>
          <div class="col-12 text-center mt-3">
            <a class="btn btn-primary btn-lg" href="{% url 'nadc_photo_list' %}">View Entire Archive</a>
          </div>
        </div>
      </div>

      <div class="container" data-aos="fade-up">
        <div class="section-title">
          <h2 class="page-subtitle">Reunions</h2>
        </div>
        <div class="row">
            <div class="col-lg-12 pt-4 pt-lg-0 content">
              <p>Following the closure of the Naval Air Warfare Center Warminster in 1996, reunions have been held for former employees of the facility in five year increments: 2001, 2006, 2011 and 2016. Due to the Covid pandemic, the next reunion was delayed until 2022.   </p>
              <p>Photographs from the 15th (2011), 20th (2016), and 25th (2022) reunions may be viewed in the links below. </p>
              <p>Most photo credits are courtesy of Doug Crompton (2011), Doug Crompton and Eleanor O’Rangers (2016), and Eleanor O'Rangers (2022.) </p>
            </div>
            <div class="col-lg-6 pt-4 pt-lg-0 content">
              <div class="card">
              <img src="{% static 'img/nadc/reunions/15th-main.jpg'%}" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-text"><a href="{% url 'nadc_15th_reunion' %}">15th Reunion</a></h5>
                <p>October 29, 2011<br>
                Spring Mill Manor (Ivyland, Pennsylvania)</p>
              </div>
            </div>
            </div>
            <div class="col-lg-6 pt-4 pt-lg-0 content">
              <div class="card">
              <img src="{% static 'img/nadc/reunions/20th-main.jpg'%}" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-text"><a href="{% url 'nadc_20th_reunion' %}">20th Reunion</a></h5>
                <p>September 16, 2016<br>
                The Fuge (Warminster, Pennsylvania)</p>

              </div>
            </div>
          </div>
          <div class="col-lg-6 pt-4 pt-lg-2 content">
            <div class="card">
            <img src="{% static 'img/nadc/reunions/25th-main.jpg'%}" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-text"><a href="{% url 'nadc_25th_reunion' %}">25th Reunion</a></h5>
              <p>August 22, 2022<br>
                The Fuge (Warminster, Pennsylvania)</p>
            </div>
          </div>
          </div>
        </div>
      </div>


      <div class="container" data-aos="fade-up">
        <div class="section-title long-title">
          <h2 class="page-subtitle">The Naval Air Development Center Group</h2>
        </div>
        <div class="row">
          <div class="col-lg-12 pt-4 pt-lg-0 content">
            <p>This is a Yahoo Group managed by former Naval Air Development Center (NADC) employee, Doug Crompton. If you were in any way connected with NADC, either as a civilian, military or contractor, consider joining this group.
            To keep up- to-date on NADC activities and events, this group is your primary means of communication. This is a closed list; only members can send or view messages.
            </p>
            <p class="font-italic">Please note that the group moderator(s) cannot add or modify your email address. You have full control over joining, leaving or changing your account information. 
            </p>
            <div class="mt-3 text-center">
              <a class="btn btn-primary" href="https://groups.io/g/navairdevcen">Visit NADC Group</a>
            </div>
          </div>
        </div>
      </div>

    </section><!-- End About Section -->

  </main><!-- End #main -->


{% endblock content %}


{% block footscript %}
  <script src="{% static 'vendor/venobox/venobox.min.js' %}"></script>
{% endblock footscript %}