{% extends 'base.html' %}
{% load static %}

{% block title_tag %} NADC 20th Reunion {% endblock %}

{% block content %}

<main id="main">
    <!-- ======= Breadcrumbs ======= -->
    <div class="breadcrumbs" data-aos="fade-in">
      <div class="container">
        <h2>Naval Air Development Center 20th Reunion</h2>
        {% comment %} <p>Est dolorum ut non facere possimus quibusdam eligendi voluptatem. Quia id aut similique quia voluptas sit quaerat debitis. Rerum omnis ipsam aperiam consequatur laboriosam nemo harum praesentium. </p> {% endcomment %}
      </div>
    </div><!-- End Breadcrumbs -->

    <!-- ======= About Section ======= -->
    <section id="about" class="about">
      <div class="container" data-aos="fade-up">

        <div class="row">
          <div class="col-lg-12 pt-4 pt-lg-0 content">
<script src="https://cdn.jsdelivr.net/npm/publicalbum@latest/embed-ui.min.js" async></script>
<div class="pa-carousel-widget" style="width:100%; height:480px; display:none;"
  data-link="https://photos.app.goo.gl/2idH8Smerq5msJbK9"
  data-title="NADC 20th Reunion"
  data-description="37 new photos added to shared album"
  data-background-color="#ffffff">
  <object data="https://lh3.googleusercontent.com/lieo0Kb0ZlpMgJ75EuRjzWz1hX6IrSQ860Kemsj7bI-r3h2rCybVbyB_Uob2Mb1f64uZ9iciq6QZnwCK6m7yYyKdC7Laf6bgel2X5jevanOTjjO3YdwDn-dW5C8-8zwCqaaFKCNr-w=w1920-h1080"></object>
  <object data="https://lh3.googleusercontent.com/NDCH5M_0hEsh1AuYapHJLsbfW55BbBooBs3fqIK0B-81WrbUEmFfVayz4qtUuidzjKRLYlry4iatN2YNIqJDnOCFe0xjBdtlSgvbOMvW-d_ybq6o8-87Kjp_rzld-oO10gcRvxJXjA=w1920-h1080"></object>
  <object data="https://lh3.googleusercontent.com/Tjcvo_m5raHcI-4bHMORcKvOOvYDi3gf8TyDqKIl7hdlH720BTaZq3Ss7NcKZVomj8iq3fSFIuK3yGx0_XzggA17RyWLKUphAeOjrD0BG8j8gwNCrwAj1lBxvwnm8cS3gD_ldHWUzw=w1920-h1080"></object>
  <object data="https://lh3.googleusercontent.com/Xnzpq0i_Ux1Juz07ws7Mht8sbAGgX7OHtZ-SZY8aoBXM-rtDVUgZ7dpSnE6qvkhwKM68UABHDzauQdb_3FyPw6XCwlQCsWZpGCE9F7w787b0z-XQ68pdSeBeA2fvhpsjjn9SQlE5LA=w1920-h1080"></object>
  <object data="https://lh3.googleusercontent.com/3HHsWvpoOXdEZogiD928fXE1A9REJzPxqtXpv_BSb0p5Jb0vmUe89T22BIR0MJaMf0bhBya7VGywbJjPPuB7w5o7q--J3ixVfuBjyhZXdHVWaNuv_EkrE_YxUrAQwrkKGtMxYLecxw=w1920-h1080"></object>
  <object data="https://lh3.googleusercontent.com/uMTb7HOuAsXcJdzN94XgZYbFH0R2LS5kzxjoiNkuxxpfPeY2Fp9lQN0oLm8pFVgcbkCRP_m-ZUiUEvsGVjOy8FGe9wG6E7kY1k_aWqyHZLhFEfA2hKYjMQDt2Y2obKYp12xAwctxJQ=w1920-h1080"></object>
  <object data="https://lh3.googleusercontent.com/k31LHWWAg1tM6bzWqs8jLB1HAyc9FtM04xJzeFOBNUhzSYxeUmLuYv0WxZCaE424TgndcB_l6gBe7ylRTSeHdov5XkqFfYTydC1sW9DyM9Zv4bLKs7gYKozstnDQvI3yd5q7zwKF4w=w1920-h1080"></object>
  <object data="https://lh3.googleusercontent.com/6qvDrjACRwQSHfNvzJuSyj6PTCOw8I1azS2WSCQBz9k6ERdEem5yrtAKM_SQFA_UZkWiXVU0rqXG7jBAbuiHa4KqdxvJxfIJu0X-AkeoyGPiqFjKwEeugIew9NZR61ec53ocjCTFbg=w1920-h1080"></object>
  <object data="https://lh3.googleusercontent.com/FLlXXSwINreio-SHmBvm_6lqe1XsCWgkL-Mf-WTV6wV4hDtwHEr1LpUHIyJ_Kzhkfoik1bfG0ALxmCRcSlNQGQJG6nLoVPikyoZx0DFeZz2Z-RyLDAtjzc8nrvPb4dLNConQSB4ESA=w1920-h1080"></object>
  <object data="https://lh3.googleusercontent.com/U4TJpS1rvSpfM_MtEfsqDwEBVQFa0emvXf3GCJ28qjAJXb69CYc77mjaRXwIbqU5gzYm9JDq2zEeyI47oFzVKwVO200FwIYNFFe8yfCyz0j4MR5fNCg6D19li2ZEMYlSRZTVwe4eOA=w1920-h1080"></object>
  <object data="https://lh3.googleusercontent.com/MqPCvvL7wdj1Aah2yTc6aeE2LJlRFV5h6zm8lUzOYf2U3VmUS7flagZeMCeBxXYte9vCzptINI245TmQFobNYN2KPz9vI7H-4h3xnOzNsuT7Zmkjr-HxP445TBea3286SvY6KtlUtQ=w1920-h1080"></object>
  <object data="https://lh3.googleusercontent.com/ULZ5i7zI6mDfGNBqLjRXRU8O1PA70YC8R7MgBkjIbdfopH78tiqUxmypR5ZIF1Cz5-SqaUu2G9tyG750BkqxbThg3XQqQhmu8W01Rp44UCQKb9G_mFeNI1Vcx5pDRyQzx1ka9ZJYzA=w1920-h1080"></object>
  <object data="https://lh3.googleusercontent.com/4TKlpjJnpPDekel4sF-HJsYNAqRcesjLJJl7oVG9hddEzvQ_9Zjgfr23YrkHQF70Z3Xz1XpzkxHTebM_e3JQ0VErtwJSf7TiBMGC1D4VXIveWXZXHrFOeMNvZuGG5vYEyrICVtQw5g=w1920-h1080"></object>
  <object data="https://lh3.googleusercontent.com/jlKN19jSk7YHG4NHZgZgJXpZKxp5GJQLO8eW7RTF1D1wj5LWjBv8rMIRr_fegwv1uJWx1ZvMMCyYGWmDWAcxVxJVd8Vq7vDWD8X9p-55Hsf9ocfb8l5KPm2fi1kg-AzjvkxNpPQ00w=w1920-h1080"></object>
  <object data="https://lh3.googleusercontent.com/_td5Jy6PeZRiG28TovBnu-6TAdt9fTbi1JqYionqdgB4sRW1YjpggLj8v00Dm8gdrYvJ7SjMyX_QvcgX7Ci62N7KLpRzHRhC6KKSBIvclUz3pqMNcwyrbrroINwxM-WYW9GhogIK-g=w1920-h1080"></object>
  <object data="https://lh3.googleusercontent.com/7yp8NMTwjarxHryXI9Qw9cbxue0aLPQYepnRLkVM-pV77huhXBQ3OpGzovCvS23d50nEbtJDWECrCLQ2VYKhKIwWRz4S0cpnGRk92wAjJNugWV7eaEIwxbcJ3b_c6mvhlmFzbkNJwQ=w1920-h1080"></object>
  <object data="https://lh3.googleusercontent.com/WBL_FgVYmdA22ffsyr-Jt3FYyNAk0JaJz-sZk8IKUsNZeYyKjGAlYqD9hiLCpPdAaCu7gjFA1FVtg2gPoGWkMHTcERaTZpG6c6Hlj1WegxOwBrMpLRiOKAKUEpIEPA7dfVs2M_8EXA=w1920-h1080"></object>
  <object data="https://lh3.googleusercontent.com/D1U3P2gW8Ko9baervmTyvrjnUbE8Tr1k15ShpgnwNpSuZvUyG9Xe3TZ1Is2H0HQCiclqY4LSMJk44HsKBLBXMRiJgq-2-Jz9NuHsriszrd0IBCbBvw8OtoqV8vYu4vxpCWznhm6cJw=w1920-h1080"></object>
  <object data="https://lh3.googleusercontent.com/VCejJ-zKzzlU2IBhXfWsrBk6Z6bSRLfLC8zP97HuzevcuY8-T1CByZy2OS1_MseTo0sgcMzklVN8j-JkDkVyT6mhbIm7czNaU2H_yETjHV2H5g6gXO3BfBx084XC3n9iyc5gFm-MYg=w1920-h1080"></object>
  <object data="https://lh3.googleusercontent.com/XKBDTYLM4pHQYVQhHvUP3zjXHvSxz_NRi-qzRdEImK9ZB5y-gzLOocTgITU81kCIP7abpH1kW8CVY3-qiXEmYFBn5ArUw2IIBllTY-y-0NgRgNbKKhzHp-iCa3kApG_7uu6BJz4W2Q=w1920-h1080"></object>
  <object data="https://lh3.googleusercontent.com/oB9C6-ENUMguXyj_tCan902fDhL5ZPYQhSZh8YoB0IhiLWmXLe6ofkxLHEtJ91WVjJTBIBAd1vtKPL-MMVrdkxoKyENMdmv_M9-g3zVDZ4UyWvHriAlcCPYEs_WUlOYQvVW3mgsPwQ=w1920-h1080"></object>
  <object data="https://lh3.googleusercontent.com/oM4Fbu_MsP8m7gSTznJDMVi_Ro0jWogRJrE31qBcGoQrW8C3PBunRhq2MqwJ3WTIA8cuV5hFxOwRPZWuYVbYLGlPvV2WEpZQsSxeXO4jikqIkVZby00YPmqJi9TtLGC_j9plnAKbmA=w1920-h1080"></object>
  <object data="https://lh3.googleusercontent.com/0oe_pDwRGFfsmpJlF3atgukWyxLNeosA1Fusmy-BTLnUf5J-C0DsQXK6MR0AmeO6THT1T3eAgEwACaJxZUqUgQjK5ASRosIRMSlIVZqHO2cuGQtiuxydhqg5Y9PRv5w-nfQFJcOJdQ=w1920-h1080"></object>
  <object data="https://lh3.googleusercontent.com/rt0uBjbx86EpALJcc2eXBHWN_zjXsLON5Da7ai_wiRsOWmylg2VhBTJG6g1hoqrSr711Ab4q9XF6jOG_bQMtTJVoieAW_4jFH6isnqfWc-nNrQb5afswOgcSdyhdHHOrv0PPBoZliw=w1920-h1080"></object>
  <object data="https://lh3.googleusercontent.com/-9dbd8koJAv6KoOOaorigiDk6gqsy46T0RvyiqQNxHDotRjhrQd85JIz52bcF3a37-qP1HITnPuS0qspeRvb5utGkFVCmHV0eqJRy_nbbG_vdfg6-_ZDED_Ci29EsmIggGfXGYPklA=w1920-h1080"></object>
  <object data="https://lh3.googleusercontent.com/55koC4oIGypBtbsrW0sku4gefN0_RkW9kxPIOgEVcJnopOIPpuVC-6sUyAYiKBw0OjWZsC_86_gyEczBKOTJ69BLUvmOV_L5g3L0ov0gliWHPeTpbi9UZhUA3tM12up7zgJYD2XODA=w1920-h1080"></object>
  <object data="https://lh3.googleusercontent.com/7pZ9z5D-Rxa0vq_xjKvcDBMe3dbCCYUgBNlRaKzhwFyfqYyzmcuSMwsZaa2FTNqdkrPt_lk94Qw3E9NbN9lRFaHXo9ZaMN3XGZkOgk-Qw_hLpSsBwx3FaYLPcjIMxapUQasv8AZg0g=w1920-h1080"></object>
  <object data="https://lh3.googleusercontent.com/WcRRdMhybUePvTHOwVQXopWmkQ-zdG-KRWpd9oUr794RXxHWLwLuWJE-Fx7AKg-F-P_pNgQo5xSaWf82911b-65HK6r6dzpAtq8WsrEM6CuBHphuhZvO0-OUQf2O3nRB4_Pc5WMEnw=w1920-h1080"></object>
  <object data="https://lh3.googleusercontent.com/Wvoc3j2_fCmPFv9Q0BhS6Ep-r-BoPGad2RLJ5B-KnLbcywKV8gfR2iHhvGfLK6gvKJatBllshRiErTUVNGZZiWVikAFR3BVe26GV6f4CjTKI9TP_ruKH75zd7JcPL3_srbehuXLl4w=w1920-h1080"></object>
  <object data="https://lh3.googleusercontent.com/7oVbWCUE2zGYZ7AvZ7pYfla_fSzbCNoLL2WE4gu7BvW5VSEs6E1vg4hXHG9uvJXAPYEUZx2yzCH5JMpmsu_GfhL8dNOzZK7ORysaiYRmZ1vhRg1uo21_pRP7SOyxZcCrW9qo5OOG8w=w1920-h1080"></object>
  <object data="https://lh3.googleusercontent.com/LNeAI8AnkjSBreAmeDmgT7CpN1SHQ57rDo1cYKF4U12_rs2SScK2nTmIjrP6qxyP_VV7HrXZPV6z03QrQazwNulBHMLJvqZPDEz4GAKCaZn_zOFnNMa4BsbyjCc3EJn097SzQlkAOg=w1920-h1080"></object>
  <object data="https://lh3.googleusercontent.com/Cv9ewh2jE8V6LFh1nxBo-iynvVo2cz8tiqGAQ_epzPHyEtoXm8SYx_5iORk0YxCbOdYbsKFKsCEBgHFtNqjWK4tUOkwqoO3VaPCQ8pGmc1fg-T3JLuNvzBXAONulmusk8_GLsCBoRQ=w1920-h1080"></object>
  <object data="https://lh3.googleusercontent.com/t97Bu1vtNTlgwK1I8iDSjkQY79douBsocTCZ6vqI9WlUAcCGaS8UIc0e1kVWk3o65W18-CRIjDfng_Nmr8ogATXgbkvOjH0aZrklQjHwuOxr9BAxnUhDa61t1GjVU3LaHvaUUZwyrA=w1920-h1080"></object>
  <object data="https://lh3.googleusercontent.com/S1iuYhM4Hwycp2zvwwxR04NjVynRYPJz8rPuBHdCG7uKOmN2hOroevyHNJgAFfvIr9f1Ls9MptIvtezgyhavACA6TncJzAWumMsgq1eSvGRiDQt6dNOUuJrJLH98IBEDhMdT7VjbYg=w1920-h1080"></object>
  <object data="https://lh3.googleusercontent.com/_vAv4H-vNpLWd3KGaXM6Bp-gbVtqEnOrguhuF2R_M7qcdhIpBX1ZIMNw6e_KmQmTMlkjVibGbpKTK3fxu9QD8AQQhK7pCZNosrIZ1qOWlqTca-fR29yzfxv4paNqxvHvbE21Q6ufGQ=w1920-h1080"></object>
  <object data="https://lh3.googleusercontent.com/T89xRgKZ4anajQK3oa_1Ldiu9ID_IuhCxBziPV5D6NmZi2iB2ojO1bJE6k_kk31rHnxWksMnrIHUW9F-j4j0FAT4eZVFbKTQmBRGJhSn1f9teCU-Ifn3xfn7A3gxVUjl06-5R7lYEA=w1920-h1080"></object>
  <object data="https://lh3.googleusercontent.com/rZzZutthvvYJT1Gg4sDiykXs0YYB35v6ktf4oWzlrdZZzo135h9CJbGez6SWFPxJtorIva1WjQrUCci2U0HlJ551U35ldDneMvg3XLgQ_j2tMIu6ZTZAawqUXa1rZGO5g9eKj_znmQ=w1920-h1080"></object>
</div>


          </div>
        </div>
      </div>
    </section><!-- End About Section -->

  </main><!-- End #main -->


{% endblock content %}