{% extends 'base.html' %}
{% load static %}

{% block title_tag %} NAPC Reunion September 2025 {% endblock %}

{% block content %}

<main id="main">
    <!-- ======= Breadcrumbs ======= -->
    <div class="breadcrumbs" data-aos="fade-in">
      <div class="container">
        <h2>NAPC Reunion September 2025</h2>
        {% comment %} <p>Est dolorum ut non facere possimus quibusdam eligendi voluptatem. Quia id aut similique quia voluptas sit quaerat debitis. Rerum omnis ipsam aperiam consequatur laboriosam nemo harum praesentium. </p> {% endcomment %}
      </div>
    </div><!-- End Breadcrumbs -->

    <!-- ======= About Section ======= -->
    <section id="about" class="about">
      <div class="container" data-aos="fade-up">

        <div class="row">
          <div class="col-lg-12 pt-4 pt-lg-0 content">
            <script src="https://cdn.jsdelivr.net/npm/publicalbum@latest/embed-ui.min.js" async></script>

<div class="pa-gallery-player-widget" style="width:100%; height:480px; display:none;"

  data-link="https://photos.app.goo.gl/o4sWZgGtnWUVX2wm8"

  data-title="NAPC Reunion 2025"

  data-description="Shared album · Tap to view!">

  <object data="https://lh3.googleusercontent.com/pw/AP1GczPRUcy2o4vfj108kZJZDZzWy2RydDds7XkRV0mA8aL8ya_ZmjW2ktFuikG_zLRUXqFjAchZAOVtAZX8boTJVzBpg3hoseDUCSCUif-_eFpN4-1_DQQ=w1920-h1080"></object>

  <object data="https://lh3.googleusercontent.com/pw/AP1GczO6SgseLhq-bdN2ip88J6tbcP8vo4zDsVVslOQhKX2Z9Vh1KtJ-lhzOxeEWJ9zesBghgnf7HqKKezI5Avqag12aeiy8DTphw6PnDanpLWGORSxyRaQ=w1920-h1080"></object>

  <object data="https://lh3.googleusercontent.com/pw/AP1GczOFfcaINp_w-fIqNtsPHAyI3MA05PV3KMzdzSjtTrfVZJk_cD3m34UmE71g_JecpuvEsgzLgY2bP6N7oAR1kBFUi9xKFjL7JYDNnxr95KbUyQXIvUU=w1920-h1080"></object>

  <object data="https://lh3.googleusercontent.com/pw/AP1GczNrC46KP0os8J0wUaDDBZKPM8uQUoQaCjT0cCHGfLBb3Cyhd0Kuif3F9XgTIl2xdHFoZoqqSBzC_sslAPLTcuFndy876dOOOQErv5jHfEIOZlUU_-Y=w1920-h1080"></object>

  <object data="https://lh3.googleusercontent.com/pw/AP1GczMe-PeBY2I8X2l5hY1XxdT-zmpkYQUOw_GWB6wd34T8cAuyRSxFmldCCQaEPU4YgLXtBShneGVg2reG2CVzAs4SZ5ttOnnu04Ca28mQB47qUravw9M=w1920-h1080"></object>

  <object data="https://lh3.googleusercontent.com/pw/AP1GczOwow01Z8sUTBP1Anyc7rUdaqtEqG1UXr0seGoJDZt-UVbbDFlC7ptf9jkYEKmwLvc6Xl9ymtmNbu74NN-J6YaTvOHv2-oQruIZV7o6CHKeTFPclo4=w1920-h1080"></object>

  <object data="https://lh3.googleusercontent.com/pw/AP1GczMXYStAS_MmkqtmJQvDdgMvw63oc91r1HnODuOFwjja98Z0HqGMxzT2ykjQVhx3yBqio0gxCB8lHhDt5yBgUV3vVUUUPBDfH3E1-rvlvSd3W8RGDyw=w1920-h1080"></object>

  <object data="https://lh3.googleusercontent.com/pw/AP1GczOyqbBn10Qh8L4FDgGNsWikmzBaGCUk9nUUCm7Fa-7Ec6TtGfHH7F-_owRDNy0RqDNPPloWOYCoge9kTH28cikT3hOSW0xijGkH9QRURxFGVgutZy4=w1920-h1080"></object>

  <object data="https://lh3.googleusercontent.com/pw/AP1GczOLAyTWEzZYwGZEcczt7M2q9Gp0GEsbfKukwZwuOlaB9wOULPudprWAAY0CxkL2eAByxDKqgBak0rDGspSHsDHV1PjsQY87y3kP2HBqsqrCPg14tJk=w1920-h1080"></object>

  <object data="https://lh3.googleusercontent.com/pw/AP1GczP8Qx42VQuOySQ5GElQUI6DTYV37Uzr1bPa60WElg9WvZIfcZNAd_Z0EdagKr9VoZ2eAtYDdGWAdgPuEZoZs3J-3XRedV9_Px1letuBdtPcDFSYlr0=w1920-h1080"></object>

  <object data="https://lh3.googleusercontent.com/pw/AP1GczNNR1BGvkBEl1-VxDtL8X24LB5UOl801lBOk0gMcXRDgtwkr-wfAbXSJQVAONYe9c6DaA14PmhNKQgTch1Gcj6AWasPMZxPQY8UQvAk6O9URS6zlJc=w1920-h1080"></object>

  <object data="https://lh3.googleusercontent.com/pw/AP1GczPyGvkewqSUPYhvQqy72fPbEEFKhFzRlvoB1fNss69AQaYZmyv_FgNS0c76Zcndlucuh21E8ybxX3-Evf4LVWtPzFoKnXvgG_PcRmkv80q4QGGgqbI=w1920-h1080"></object>

  <object data="https://lh3.googleusercontent.com/pw/AP1GczMKEVqUTZZ3AKKZWUBrjOuvGC5uijpOGfFTVJ6IEkG7pb_smJPsPOZa4NvgYI8wREH6RWLMZKEIlzhF7hgCxhQYhkHzO6ORQcdDC6LvxDsl5DN0Mcs=w1920-h1080"></object>

  <object data="https://lh3.googleusercontent.com/pw/AP1GczMYbUdIqtfhOi9HIPRYpAKrDPRYLKP94PftxJhcUW1x4KOGwhoTbcqZEfzrEj7jUPoqdepZz-MqSa3Yrtk4DeVs6rvYlRZgrOLORVBSbjDJSR82ovY=w1920-h1080"></object>

  <object data="https://lh3.googleusercontent.com/pw/AP1GczMV-ZLwmT6kAYGaFwO7J3lEuVAbQliLPosB-4DXf1zPK1YdoG25fj8uE1kfndcQ1jQeasJVUUmyyh2tsm7sPCxG966YL14QcYXVkuel_BvmQBp0dNc=w1920-h1080"></object>

  <object data="https://lh3.googleusercontent.com/pw/AP1GczNydqUZAumOrD5lHC3Mfmt1fodx2W-b7P-cxexYYGppiqFPUd039K9oZnHo7W3kkdkvBNgW7ERn2caP9yL-bI8Gj1NDUQhbp63VvZioia8g6cU9O9g=w1920-h1080"></object>

  <object data="https://lh3.googleusercontent.com/pw/AP1GczO02VvYrf8o86Vl3mXk_CU3dgNkYuFocZrQMRE2OOr05VGKrRdMIyt-9o3H9wcrEe3wcS-Cb22vTmBjNkz0ecuTRAuSMC70Aid-LzT37fJXvpUPYRE=w1920-h1080"></object>

  <object data="https://lh3.googleusercontent.com/pw/AP1GczNnuF1TkQWVhln89oVG0ztjhV-OJddp-12Lwgf9ZQLdY5hMsoPXhMr0AwxGaEBGCBq5hXVLET50FTnbmdLcHxJEp_WrX0bCwdOTrJmo_JncXK6OTWQ=w1920-h1080"></object>

  <object data="https://lh3.googleusercontent.com/pw/AP1GczNOJGAlTV0TAyoK2TCITzglQE2fu7rgpnfcokZ9WE59vWa2F90DB9QTB0VonGs0JUeSlleNO7X-dnaaX3bjk8PSDdVI5bMwk8LiK-bZFpCVNMcZRpY=w1920-h1080"></object>

  <object data="https://lh3.googleusercontent.com/pw/AP1GczNaS1YoaYNXroik56ozRNK4Bli-dnie-JhyKgjibt4Uk0Aa8V5f-BkQrZEnhQZHCb5vRrTz3w496hd9rQipACgMT4oO89QVkUZr-NPyF55J3CxLRo4=w1920-h1080"></object>

  <object data="https://lh3.googleusercontent.com/pw/AP1GczOsfbVFil4M26LnqAkZ8K7WL46FdlDIJRd6qBrlIrCxN2LcDtLcHOGEzz5fCKBwwPOvlU-MgpfBWIKHjcAqbmYQGyhJB1tnTdEL4NelhD8LA3HL3PQ=w1920-h1080"></object>

  <object data="https://lh3.googleusercontent.com/pw/AP1GczNytmee86MdcYWij7bQE9w8rEvDuUE9YQNudI8GAcgBCcIjku3xMnCpepG1qVeJNV8bpXCVzp2JwXGEJL25UjoxHK_FPb1D754ogt_Wum1EUzrbg6Q=w1920-h1080"></object>

  <object data="https://lh3.googleusercontent.com/pw/AP1GczMvqMwUULIdrK0HIeyfydy8JmNlimeCa-xZ5Pvf8XM8ReHeW1PaPnMjvqk9u_f2Di-vUaqykzVN87bsbXlGMHjzDwdKrMBFS1Wxg3fj5FHimCwWRkA=w1920-h1080"></object>

  <object data="https://lh3.googleusercontent.com/pw/AP1GczM2fW6StDNro6EjgOIlSVQ3Qm1Bzf6gkGjNdvB1GQPlsMEGE4I9802vgg28uN9dl5kHOkWnZYqyv7ns1UUxR0eehHGXpA0OSuSLgcUY3V9WnI8UcVg=w1920-h1080"></object>

  <object data="https://lh3.googleusercontent.com/pw/AP1GczOzoqvXUP078XjynXMccxFslD4XeetI0584PAv1bO7SCVfBiVDlyS5rKdQzmNrI9s9s4XJuoRDPQAnjzL5XEHYYKT-ibvgVMTmYvidGl6rlxlPPWbA=w1920-h1080"></object>

  <object data="https://lh3.googleusercontent.com/pw/AP1GczO4Spg0TEIF9pdsbGgt6_HoaFtR-bJ9XNPDRU_k5k5xEFsHCdgXzCMbOUXwIpOm3cKxgzmZ_-vEjMRz3ei4yMIUsiyvIND_8zATqJMs-X-mft4ULXI=w1920-h1080"></object>

  <object data="https://lh3.googleusercontent.com/pw/AP1GczOmS-lo2tA20wSJ1ipEhc_VxKwoIMiWc8mq2yJM2vQtsfSmOlKyYHN2u5RwTD_ubjxFXOg6wh3lxOn6BJfzeQpGRqhuz5dqviCi9eH5KdunSeTmyCE=w1920-h1080"></object>

  <object data="https://lh3.googleusercontent.com/pw/AP1GczOBfrzKAC53FE21XGAV2j6T0-e7wRsBWiTdAhghhqkTl7JGntyfjgLP16gH0ubpmir_NDreEZn_Ktur5GQTE0LmD0ANFJgnT5CGez9G5_ksw8bRvvs=w1920-h1080"></object>

  <object data="https://lh3.googleusercontent.com/pw/AP1GczNrJlezfVUX-UV7zgLCnLnv7yylrWgb8D022QmMeyNMYrrP6kQSCMdXoA0M7r5GGtAGcvbLB5pmHONB9cCtktLl0e9dTdtQLFTTpHu-GKp1QL4dKTc=w1920-h1080"></object>

  <object data="https://lh3.googleusercontent.com/pw/AP1GczOm-d7Qz6xoRYBqPKhKyJxQStm9uyIrlHTdvHZ-C3hNVwvzMKh3O1t9B5etYX77LJ_UA8sE2Z3YXqyDDyAVD2iaoBBLeuH9xKUNVJddtYLb-mKIloE=w1920-h1080"></object>

  <object data="https://lh3.googleusercontent.com/pw/AP1GczPbJn2VNOYvJS0reBZgSs26Z9NU_d65DFyVOQdsUAK7vgxLHYbq5a_1mPZocpPRiIbNsPZBXWOzwS0Y2dEg5PaaIjWgmvBFcN2kbXqB_6pprVNGijU=w1920-h1080"></object>

  <object data="https://lh3.googleusercontent.com/pw/AP1GczPxrX7pCwizmhsQlFJ9szI-DyiFEZONA3BQu9k8Z1gmx7bpTQbVERBiaaL-uZnD1e9nAwuztv-t3KamNrYu7NLzRLVcriIs8m1o7xRXYJuIx7GW9Tk=w1920-h1080"></object>

  <object data="https://lh3.googleusercontent.com/pw/AP1GczP5Br12-sFh5dZZuVRC-ESt3QAlIiD1RK3b-QZxcPZ3l8PnJlptU5Sh-QHLGNY7JEBVm0K3O8uoT3ClylG1zT3utF-2E__8gbgAhyKf3Fa85aCRQfU=w1920-h1080"></object>

  <object data="https://lh3.googleusercontent.com/pw/AP1GczO9ZDwHtQSHhGZguRsZryB0P_aCKAqDobwzWHOMMOTMBukte8VtcJK1a2G6yBQtVcO0Q6iWerEUXgauQsow9LxAM9PFSjVJOeFk0qrzWvaWy9b2adM=w1920-h1080"></object>

  <object data="https://lh3.googleusercontent.com/pw/AP1GczM9AXIUSo5bxqArhxM0f7hUB_S8gDdpvDkAlZHHrl33WyvR5RJInS9WqzzH75f1Qo4LchEyQvudguweYLAeJ23tmujmUkNkPmXIgzJuGWjJZ53NOZ8=w1920-h1080"></object>

  <object data="https://lh3.googleusercontent.com/pw/AP1GczM2KnEIJGP-g5IqY5AGMM9PhkLt4it7weE7J-yE2sLOJFU-ZYdUKeUOKaioWss9BV7DJnxv5x6VUNqJBSUBvAoQWlkpaRAGTRu3hybdfT_3N6t03Cw=w1920-h1080"></object>

  <object data="https://lh3.googleusercontent.com/pw/AP1GczNWxRIXHJiLN32sT2sgL2VkuqEyoQ4ygL09dHNSrkuoOoZ97tQ_j8i3pWVqSwPAuTNts5eDWKdKyd2TVUO6gptzAL_07seW3kuv4bxvwUIsEpDrxOE=w1920-h1080"></object>

  <object data="https://lh3.googleusercontent.com/pw/AP1GczMqnVqRvWN8Fx8OEHmhFerICFBS4gtiuRIuIVj61zf5sHJrup3YQdEvGZnXDIviQ-2nDrRyIUwrqvNzOg4GhznsVoPfiSnUfL72MBmsijf7Ce2UJSg=w1920-h1080"></object>

  <object data="https://lh3.googleusercontent.com/pw/AP1GczNw-CPhi8iyTCCoIpRvPFAOop_U4NTM9KMemXgGmp97TGYIaCUAMaL8X4FhdNcC7SJt6BKTkgPd5JN63kHRXHlKooBgkpZeE02ttEzCLtuPee5Mqk4=w1920-h1080"></object>

  <object data="https://lh3.googleusercontent.com/pw/AP1GczNEzuKwq-rAOHBcKk3YsNAO9YG1ESo-7bx9FjJ3KgjjS38LQDbl-D0z0IY-qbAFWZLqYSEo6mu7OyeASU87keXh_qwuwG9eDfA3chsX0--9Ec8rWog=w1920-h1080"></object>

  <object data="https://lh3.googleusercontent.com/pw/AP1GczNGNkDvPW8yWOFpK00RHO59U41JWcj8vj9sCZDyrpjM3GX1KbFK-IHmweWte3Gbt_4Zwi5NeNhKDlt8mHWe7_HWtMHwzG3_trN2E6iLzduv6b885cc=w1920-h1080"></object>

  <object data="https://lh3.googleusercontent.com/pw/AP1GczNn4WYdQ0cceO_PfJXzPjNa_-3VgPkYYh3FOX56HZ4P8fa_YjpA9Ig4kyibfLZdRYpHQFvxj9WfuGJnMUt_Hbf6kVDGU2dCuGIXiSGt_tlnOdze4s4=w1920-h1080"></object>

  <object data="https://lh3.googleusercontent.com/pw/AP1GczM94HaPDgZHv7UF2NHW_Kw9IY4kmrJHK2Lq-ao760jSB-pZvPSWK8Y1uwxYfWzeNnxOPv2kCTlykw2WJkHy9gYgOEf8-uzhkAquE9fOc2eDq4FBhrA=w1920-h1080"></object>

  <object data="https://lh3.googleusercontent.com/pw/AP1GczOxf0ai16-HZSY3hWRn-2ujjklA5NkHfea9mL0hQU60TLp67KY0tHDbZgsZMDhMruesZXNhuB__M3FyO9jNFDTuWNvZ8uOFDjTlEPcpckJzsTjPzQU=w1920-h1080"></object>

  <object data="https://lh3.googleusercontent.com/pw/AP1GczOskTzA7Cl4KN37SOx68vQlVVGglJvpEVlY8O0xqPBpXY34DcIKZNaakaa0nFAdSDGLq4Bf5MYJQEXmGsW4fPijQ22uw2Kx6hNLhWRfn9Srb5yz3Y0=w1920-h1080"></object>

  <object data="https://lh3.googleusercontent.com/pw/AP1GczNn50ycPC6lVRyfOnsTMdQQMVd6vdimnieF9VpGx6EkijGqoVrEYyoRAz5_orYtw0rfo-bKigDctAEqoCPqf42Ll9dBdz_OA5wKiHgxPZG7KBO_b2Y=w1920-h1080"></object>

  <object data="https://lh3.googleusercontent.com/pw/AP1GczNHUpQXGRMSTbene9iFyTkSK5ovwSFCj1Rrjw_cNAu-BbDtKyMJ_M99NakowRUhSD-WtqrQugutxSTMpiFRCTKtFKlXshr0bcrXHIiVzYbjmVROfv0=w1920-h1080"></object>

  <object data="https://lh3.googleusercontent.com/pw/AP1GczOy0dQCzRtm8vUDEszX_0w9bxcsGVwn33WVk7GsaDOM6BFxQIyOoTYBml94djEmWqp_k1t3ez4KfBqIxUiKRT_DgzXm9o_s-zMKFsRuf8gNeUWb6u0=w1920-h1080"></object>

  <object data="https://lh3.googleusercontent.com/pw/AP1GczPjIoKtbtA4bVmXXGh0aNuWOH1hGLtkd1Js37Y-JZlkTQkskJfCqgY-sb3NNnO2QHP4yLZaZg33GWBrSMRVrmbbJRsyfQ7FvcAuvtA2_eNX7sDlm-8=w1920-h1080"></object>

  <object data="https://lh3.googleusercontent.com/pw/AP1GczMPyosLLUI-PGqcBgD6k2rSjCYzz4GG7z4mgDaECW7q61KnE9xhlgHvw5cUKcbCPr4ZaoYa6wq0VboK_iEnYbVDyUjI-QYsWMX_4lKEqRaCMvTUL3Y=w1920-h1080"></object>

  <object data="https://lh3.googleusercontent.com/pw/AP1GczPiVPdrNyfVAXzNhELocxC1H2HuLK6-vR36NCleXnfTiQP2xKLPX2cCsedjQsz4h3EkjEQUg0SKm6_Qyohx0U-F3FZYClGg9ZIKU2GZzhf7d45J4J8=w1920-h1080"></object>

  <object data="https://lh3.googleusercontent.com/pw/AP1GczM1IpROxzAiUcIaPQ-fsJR7pskjxPEBLnCnTha7z6VOuSR-04Q9vTk2b08OP0k4QMfmQA3wMPrWGVx1rMQZUlQrckkgyxF8y46Hcs2n9hj7HGWmBUQ=w1920-h1080"></object>

  <object data="https://lh3.googleusercontent.com/pw/AP1GczOfT8xJ0DBkhyG_0lwzFoNHmRr-MqpZBCE6dZu9LuyqisCNbCELKQuAuDe3UehDTdplwy46BAAUlNXVCl0eTtgavI7RDiZqtilLJZgg-W9tRqkfQrU=w1920-h1080"></object>

  <object data="https://lh3.googleusercontent.com/pw/AP1GczMrbuFu5RcJlcpEL64pOPDyht6_dRuYd79gWleeVZIn1O6499_SR9hrd7yfcgmkG8G-Ju4vzNxyIZ6hyD7jajmpweRFwVRzR5xuFeGhs7viImScO78=w1920-h1080"></object>

  <object data="https://lh3.googleusercontent.com/pw/AP1GczO0wzxiax2vw0MeV8YLmKJqIaG8xwajs2lJUmKzuDXaApavdSlgO08fTisHvr9RD9VFIhIatcqimEhwJ9mhxkIBVGyWTYsLP9MYOuM6wu-2H-a72Pg=w1920-h1080"></object>

  <object data="https://lh3.googleusercontent.com/pw/AP1GczPXqBYI7AX-3aF60yxd1NY8WPF4sIlqa2tE5cM5ZTde2KLXSdIgTXRQf6geboDpPcJBgAwgJQ5QfPE85IGfIfx2jTxQbhE9_ypon0_raDoBD9d9RnA=w1920-h1080"></object>

  <object data="https://lh3.googleusercontent.com/pw/AP1GczNzVpzRx-gcon0yYj2d3Td8oK9KjzDEamEjUGfoMhg4gvzyAeXxhK8JcVRhwCwhDH3rjYh64RibC_Oayxvhd8u6z7ksNYqP4cAREZSDSVzYOrDGr9M=w1920-h1080"></object>

  <object data="https://lh3.googleusercontent.com/pw/AP1GczP0hC4L53frWnuvay3-YIhb_JnMHMMFjufmpCZqosS9Nx1JYJ6ThHIvZlofNPi_tVGwMvJeAjIRSQcXmBWjdBSu-3brkWof6YtbQcnwHkGoUje2ATw=w1920-h1080"></object>

  <object data="https://lh3.googleusercontent.com/pw/AP1GczOhV9U2aFy3G14CMz7M2K0fBqrG3WHPv4d4dPqBZICqz5WLq0SYKSOyKyV8L9hnCO_5RaJG4uD2foQ_ZHQkAZhTcnxjY97Udw9KpXuKSC3Yaw4GsJY=w1920-h1080"></object>

  <object data="https://lh3.googleusercontent.com/pw/AP1GczM4M-ejAOPvH9KGZPdZ4UNc00lX5lFlx9-2MlZjcqHUPDm2J6LO7DQ371GwKkv1ncoG3OQ-Si_W3aE6AK6fo0hFJvCK3N9WktDmnZoDnmDkaXuB1aM=w1920-h1080"></object>

  <object data="https://lh3.googleusercontent.com/pw/AP1GczPgPEMouzuOZh1rxURNxo_VBugKOsHIBtfDtJBHch71gN6itnxpi8oQJGkyLDzaT1n8DqdJ_4xSeyvFB_quZbNAg3teXKJ22mV44_AjAzcOLEdagto=w1920-h1080"></object>

  <object data="https://lh3.googleusercontent.com/pw/AP1GczPYxfIQqh0RowarQx_1yVOltVH4BBVmGWSfTDGGwm81eV8l3YS_ptwy2EiVUGvotYyig3UN4yUoabkJmSV_eRDs0ienp7QLIdwVSkyNyZIFpV8zuJ0=w1920-h1080"></object>

  <object data="https://lh3.googleusercontent.com/pw/AP1GczNMfpEj7alN9oicureq89mBZlrXwqzSiozu4dFPxpwGnpSo0MQnZeojFWuhRM89KrIwCRPET6us5mgzBaVxTUh4UpzrWkwu6rc-Zcg7d2KDqOwCBAI=w1920-h1080"></object>

</div>
            

          </div>
        </div>
      </div>
    </section><!-- End About Section -->

  </main><!-- End #main -->


{% endblock content %}