{% extends 'base.html' %}
{% load static %}

{% block title_tag %} NAPC Reunion September 2023 {% endblock %}

{% block content %}

<main id="main">
    <!-- ======= Breadcrumbs ======= -->
    <div class="breadcrumbs" data-aos="fade-in">
      <div class="container">
        <h2>NAPC Reunion September 2023</h2>
        {% comment %} <p>Est dolorum ut non facere possimus quibusdam eligendi voluptatem. Quia id aut similique quia voluptas sit quaerat debitis. Rerum omnis ipsam aperiam consequatur laboriosam nemo harum praesentium. </p> {% endcomment %}
      </div>
    </div><!-- End Breadcrumbs -->

    <!-- ======= About Section ======= -->
    <section id="about" class="about">
      <div class="container" data-aos="fade-up">

        <div class="row">
          <div class="col-lg-12 pt-4 pt-lg-0 content">
            <script src="https://cdn.jsdelivr.net/npm/publicalbum@latest/embed-ui.min.js" async></script>
            <div class="pa-gallery-player-widget" style="width:100%; height:480px; display:none;"
              data-link="https://photos.app.goo.gl/XJ7mHWV4ttgFMokx7"
              data-title="NAPC Reunion September 2023"
              data-description="13 new items added to shared album">
              <object data="https://lh3.googleusercontent.com/pw/ADCreHfAPKWtB_zNIDbvJu2JLAEF-IXwHhAG1sZ89akscy1_mB5E3-Nmte5kg_-T4jeVCue0DZ3QlIrsNAPeUr9npxp-eggGPyDu4-KiGq8QBNp9fzKRWc4=w1920-h1080"></object>
              <object data="https://lh3.googleusercontent.com/pw/ADCreHeNx_lCKTllf5IrIF9jwP0i3thPdogkOOYiI3kWD1MGLXX_rAuKsSqxhQFLuf4BUhGlT1892wI1aIRFxL-eMf8mo8IjBSmjfg9XnlFpqdt8dUsdBTg=w1920-h1080"></object>
              <object data="https://lh3.googleusercontent.com/pw/ADCreHdE3wq4yAk_Zjq24CGk0PI3tKJCqpUkrIBd9DtN8NMnUEkhQ-zJ32XkczvxbYkWt_2Qkn3luBtbl9B6ia1lo1tKEJhkXWXhn4dSvKEssX7BT7K2-wE=w1920-h1080"></object>
              <object data="https://lh3.googleusercontent.com/pw/ADCreHftZ03iGspl6wrFIcqqLHUaRwya0ukM__cDWtDAEumj2HHj3soF1fCiyiIgoja8PlwPwkwNgcOnWI4v7IMlA_xWexTivQNW3F7dvp5sXsC8Z-ZD3x0=w1920-h1080"></object>
              <object data="https://lh3.googleusercontent.com/pw/ADCreHfA8i8qmpMb04o-GlwhRkkFiMmiAYe6PHz-dRdsx9cZ2siiRF-9REh2vAC_m2sDdmQliGL52mzlrfie5BSJwcKomeYogdqZW2HGJ8CFqxyf09ZNHtU=w1920-h1080"></object>
              <object data="https://lh3.googleusercontent.com/pw/ADCreHfvXaWn7yGOMYzALdN3BFvaXELzwQHHFnBROp98Szj6w1tzLsESLBasMkSXJ56qm4VeQ5ImrJ380VRFC3TJzDFo80hpH0HYkYs-Z0otgYSd23oGQlM=w1920-h1080"></object>
              <object data="https://lh3.googleusercontent.com/pw/ADCreHctnvogoGmBHAsKrtTUjX0P4LDz1j5vx9_KsyfdNYdjAIUVbJ_wN3B14imlmp3O2SR3S3gL-HPMaTyQFRnmXV6sgCAzE7rWSil93_cumQh1mBdNuRs=w1920-h1080"></object>
              <object data="https://lh3.googleusercontent.com/pw/ADCreHemNvz77SRABBSoPIlbAHHU_AgAMs4Gl3a8a--BJap5oGX0xzksqmNJZO_mZchAiw0VKiLhk1GN0fSG6mgqW-Tqf8RT9D6_PdXt88t5PbmlXuiT2xU=w1920-h1080"></object>
              <object data="https://lh3.googleusercontent.com/pw/ADCreHcyzcj137T9kkxaxZn6egU1nMNMixsq-YEeJ2qYRDqCtrznFDwXhZWGihlqwECEOd5XahG6ORVLv_4v8y3AtXzEVtQ8Xc-znVdz_Hxh6XfGLyagiNo=w1920-h1080"></object>
              <object data="https://lh3.googleusercontent.com/pw/ADCreHd86c0tRcRgBYm59DCbsJ-eMMiFGz8cQQToL3TmaIEDH-d5g1XEXybeFnZ-gZuGQlc9bCLX_8uZ0JbWRlFtWTWLde_SAUad_05BtydvAiDToDOEqC0=w1920-h1080"></object>
              <object data="https://lh3.googleusercontent.com/pw/ADCreHeMbQlek4kothph08n9Xx6e3g5-S3sT0rJO5NkRpqA9-RFZcCHI01hrzSgE-0EuakY0KjYzHD5i6Hqo6HdmdHjuC92fNB5y0aiTx10qgj1StmHVKzU=w1920-h1080"></object>
              <object data="https://lh3.googleusercontent.com/pw/ADCreHcxeAmTPSMy6anavZGFQ5doufcK-AvzwPLgBgEcY_jX54x8EsED7A0fSOcADwdDfpXP53gd7vWkliAvDPDPjNBGLkB3JuhZnXXT8ostHAOC0IRa6nQ=w1920-h1080"></object>
              <object data="https://lh3.googleusercontent.com/pw/ADCreHfbn_qfMq-C1mIiWh8XEog2HtConBQlICcMsRFtVqDOg0YxpK6UbkH-WFLmNwZKoP8fSbCdwDGLKAmh-KARwLwlHmvcGMnsV_HIFuY8yow28Cu7OOM=w1920-h1080"></object>
            </div>
            

          </div>
        </div>
      </div>
    </section><!-- End About Section -->

  </main><!-- End #main -->


{% endblock content %}