{% extends 'base.html' %}
{% load static %}

{% block title_tag %} NAPC Closing Party 1998 {% endblock %}

{% block content %}

<main id="main">
    <!-- ======= Breadcrumbs ======= -->
    <div class="breadcrumbs" data-aos="fade-in">
      <div class="container">
        <h2>NAPC Closing Party 1998</h2>
        {% comment %} <p>Est dolorum ut non facere possimus quibusdam eligendi voluptatem. Quia id aut similique quia voluptas sit quaerat debitis. Rerum omnis ipsam aperiam consequatur laboriosam nemo harum praesentium. </p> {% endcomment %}
      </div>
    </div><!-- End Breadcrumbs -->

    <!-- ======= About Section ======= -->
    <section id="about" class="about">
      <div class="container" data-aos="fade-up">

        <div class="row">
          <div class="col-lg-12 pt-4 pt-lg-0 content">
            <script src="https://cdn.jsdelivr.net/npm/publicalbum@latest/embed-ui.min.js" async></script>
            <div class="pa-gallery-player-widget" style="width:100%; height:480px; display:none;"
              data-link="https://photos.app.goo.gl/csSumN9Eg7fBmQXa6"
              data-title="NAPC Closing Party 1998"
              data-description="">
              <object data="https://lh3.googleusercontent.com/pw/AP1GczOa2xg2LVcV_vQ7FWnuzR0jLP56DKR9C1BEtG4ovKeOcuBORP-9pt2F4l1_j8Q15h9Z7iPpF-6z1-fjAuI1NSwA7_uKUW60xz6VqFvOTFyIETtPRYA=w1920-h1080"></object>
              <object data="https://lh3.googleusercontent.com/pw/AP1GczMxutEugt8lAnyAPznFAhQbaqk4P24ZhwKaYTBvLJZPTampSbUIijl7slCGAtzhupOXmBVI0QKH_fYxO9O7Nggajm6thrH4ieIiBsQ8A640YgSPMpM=w1920-h1080"></object>
              <object data="https://lh3.googleusercontent.com/pw/AP1GczNErfde9qxLgQNyvslEXJm9uZi3G3rnwWhW_JVyW6wGA9FDkyQ1rRypMET0yzO4NHXMls1cBF2iQO_Wp2DjVC1riUrWqOt1lDB7NMBl5MRU62JnXzE=w1920-h1080"></object>
              <object data="https://lh3.googleusercontent.com/pw/AP1GczM7jCrvBfpgcN4GkURaZXqn0fs2wZKMSfS1cAwlWQwtMPuAjyLDn5AtCu6IhMicQ62mazwN57TZoMA0MrkJYeuLX8mf6g5oWj8eUkn2PMIitq6uYWk=w1920-h1080"></object>
              <object data="https://lh3.googleusercontent.com/pw/AP1GczMOMXBZuYFDtCmgVx0UHdSeYMHFRSi5Sr-5mxCT28xXJbwg62zClI5mus4A9DFs1iCz_ZbPfNcyXZzGKNXXlnSN6uHAsZjMi1c1mY5Scwxt2r3SSbE=w1920-h1080"></object>
              <object data="https://lh3.googleusercontent.com/pw/AP1GczPaUry2rRZBgPo942cq2cyzd-181JpEYzTCV9RDHMmok4MckLue0WeEGHYJi6l6B5aHQjSVI0UGztTkqpnrq5efbbVxjL-YKXySTVcMmlejo4KEXNY=w1920-h1080"></object>
              <object data="https://lh3.googleusercontent.com/pw/AP1GczOuOwTZ0YusQG6YCW0zb17V3FMHyJkJwjlC-pa-OM3lvFURF_zMkOx9GmUPGpv9Ygao0EBFRxu8cCdJ2wbiqaM7aUeDDgS7ppEzENx51ZkViAvozck=w1920-h1080"></object>
              <object data="https://lh3.googleusercontent.com/pw/AP1GczPcLBOuKI3tYOoJMxjIi9i4MQ0eh6NzGygi7uMViI25jV426jesDrEJtBXod3ev-nga7p2R64uaWmWWVmpYG7WUsXA7xPStNrNvzxeR5L4tkefb7wI=w1920-h1080"></object>
              <object data="https://lh3.googleusercontent.com/pw/AP1GczO2LToLn8o2E9cRHaGk5kHqS6CxFf0xtImCAjC9TUia-cqWHbvppiRu4awdVykP5-1jf-nwZvedYxWBx9rdP-L17nYSyjBs_uKotFMe5a3IgfxlQkA=w1920-h1080"></object>
              <object data="https://lh3.googleusercontent.com/pw/AP1GczPALo9p-pSXtX34OhcSHXek5zdsXTzH9PFvEaloLagtNv-YrYFXBvD0qNWUEK9taRaCvKS3a7kKgR1E6V7-GJZlA93pQTgE3gYfbWiBx7DmzYMOkdw=w1920-h1080"></object>
              <object data="https://lh3.googleusercontent.com/pw/AP1GczPL-jrFsomEXRz8I2vfAWA7NA5OKq7RJurrYiQbgwiz50CS7KeYzAkwZWgt1hS1H8S314sjwrnd3RyMaJ-7a82YkGEk8G45H2ivtk7aSeTyIZpusQE=w1920-h1080"></object>
              <object data="https://lh3.googleusercontent.com/pw/AP1GczMf2DomPkAPrD_eqQIL_GH5PI9jhwuhmry5BBLh-xzJz52eET-egoHj3pcSpTBeqeIfqZSULEXNJWxirToR-28aMvX6TOQMnRESr4M2Igm7wG0wfkg=w1920-h1080"></object>
              <object data="https://lh3.googleusercontent.com/pw/AP1GczNplnUe5ufzxzlEgHVl2LgfdlKUpSW0Ly6c_foKF9zWAgyPn-3eeXAy21GjNV2Vdy7woJutTIA8hjrNjCrMPEKzwzySGyQ1zr4rPUlRFSb50EOK7iE=w1920-h1080"></object>
              <object data="https://lh3.googleusercontent.com/pw/AP1GczNcx0_sPcFQvO7oLAL8Zakm54nf0nyabS72Nwf8hbU-8DMxtQCc8bN5Ao-IQAAuWz0ul2it_6MabAAm3Yw4gSijmBFNau7lGz7y9WM4hWnEQ5SfkLg=w1920-h1080"></object>
              <object data="https://lh3.googleusercontent.com/pw/AP1GczPE5CP7Il0oNjH3mTe19NTRTV79vdDURrfQWrxsfnowh39jskX9WtobLxfE-y463ASxIhWRGQ5qRYZOvuQfkXeFoPc6DXd42y6_ef8tY_tm1yC0H1s=w1920-h1080"></object>
              <object data="https://lh3.googleusercontent.com/pw/AP1GczNPz1nXJxyLzcUCboq-MOC4flx9_atAl7M2dhOad8QR1vMpIx58fXVB_wL5x89pJKHOPH0NSZjKutPJQjSnVDxMOAFmzkldQ4_QS6r33v2vUT3Okcc=w1920-h1080"></object>
              <object data="https://lh3.googleusercontent.com/pw/AP1GczMqvb_iSqqCpFA8u8fJo8iqCNbVFQ-3KjMur4SbE4NhRug6NkzdqHstAYClX4IhVIHsE-pL_TARBIVpnyzG0xY2lZwlFkzXdYwsCAn6tU51tj88cSU=w1920-h1080"></object>
              <object data="https://lh3.googleusercontent.com/pw/AP1GczNh_kbh8p1RCSoHcp3T1g1Qw_PVPi3m_yM-xuZdnBukHEn3JkVxX4qVhAONdW5S-ik-6Ofvot-GH4EIMIDQhmIoXkPx5ACb1pTPcjKc8UHvkpRc8_k=w1920-h1080"></object>
              <object data="https://lh3.googleusercontent.com/pw/AP1GczOhiOnG7AWlqKaUmk4RmtdMofg6eFPeFb30IE1dxFQ7mTzKRHmElFSr19ttKZLKQBs8lemxvoewPY6KVkBCK5qlFZJiEdgS20vyDM5PnFhoeIqtbzc=w1920-h1080"></object>
              <object data="https://lh3.googleusercontent.com/pw/AP1GczMemhOi_SkbuDN08J2Q_oVg9DIcKpGWcnBTBi_kHWEL6P7QEFtAYiau2W9jjVkL0zAMWqI8J_-ATSFUIyyZDAWy7kxjRkKwDA59AkvvyrSC_ejVLGQ=w1920-h1080"></object>
              <object data="https://lh3.googleusercontent.com/pw/AP1GczPZo6IeRDQqfJkeziIa098fiuosPwtTdHjnggtVLPpAJRxvazZhPjvWikvgnA6pX_rBZfWBzWK4Qz04sHmN8bVl7N3-acRZXvxBc_qUTLx93Ky7wsw=w1920-h1080"></object>
              <object data="https://lh3.googleusercontent.com/pw/AP1GczMjZ8he2YuYOUmFtZI26z-HUkv8pw24Hx8caGuaII6wEon_jF-XCD5SHQdAHfUEAUcnRpxXWmcbu1GSWutsvp25AmGHb-tLzGoc85e2NWfaooxLS-s=w1920-h1080"></object>
              <object data="https://lh3.googleusercontent.com/pw/AP1GczOcGfvQubLZHDy9LUMHKxFpIyn5FEwgCSEVD5J0_oAn07ukt81TqSH2DE41VUVWeSfMnscEHbZJVWBDH9iH0z04ATLJ3VKEXPOLjo14mjwPOGXiFrk=w1920-h1080"></object>
              <object data="https://lh3.googleusercontent.com/pw/AP1GczOzak7E-il9mxXVMdBk8ftUU-SAGguZFjl-MN49v2Bf3cMdOnr6rJJ37BW0d3oaBrlDopsF_t0klqblCefrBy4TGnNtUESI-Hal2dSFu2hlpOfHI58=w1920-h1080"></object>
              <object data="https://lh3.googleusercontent.com/pw/AP1GczP_IH5Ve7JXtctx5TlTp-CYk98IllfCbnkLNnWtizSniorwS40N9APZjMv-RRIWH2d4hIx0d3GD3clfPmCiaUFSnCPlWihBJL_S_m4PkqGRhRnuUUo=w1920-h1080"></object>
              <object data="https://lh3.googleusercontent.com/pw/AP1GczNoBfu6mzlXgFwF-l1ns25UYl5pSM_29OXnMezKn8mRxQPci3DGUgogpGbfINQvxm995o5tCU241GQdNLz7_seE15eI6Yu6gaBUxhUOhCBjJ1kW1rE=w1920-h1080"></object>
              <object data="https://lh3.googleusercontent.com/pw/AP1GczO-LrX0pzKcbFxQ8EKfdwfoRr84JhG3gp4Ww7_aCPrBLCoStH8e7oL1NiKWfUNhtYq1rjnYdwSSPX0hQ-7oDCUh48gsRDlJQQesTgxOBAbs3dj9wLA=w1920-h1080"></object>
              <object data="https://lh3.googleusercontent.com/pw/AP1GczOyMQo781CpT2fJgmSetUCVH7qop1abraJ6IKzLjU7NMwaRycMo0esPjtHGyTSfLQB8mSbJV0Ugh-An9wzujOMfWQ-9-7bmuTRiqV6T0MpHJPoMWDM=w1920-h1080"></object>
              <object data="https://lh3.googleusercontent.com/pw/AP1GczNA6bp2Iz-PXx2bLKfvA8Q1GsA2eKHqlXjhkVUh3hLpD4GYDmfUD4RDVu1Vr3IkkyOVjbBs-X-QWzG9Yd-5oZ_B2VD4S5-brmqMKqyrtNLuf4gOaac=w1920-h1080"></object>
              <object data="https://lh3.googleusercontent.com/pw/AP1GczNx5AlKgeV5g5bfgUvPhoQ2GWqwXe4wxG3PdOZUIMwhue4iNSwcuzgHsgWWfxrAChnqJRAvAcMVnwWNUCvC3F3W2jSztfcnWxrTL8mI295ETIESnOQ=w1920-h1080"></object>
              <object data="https://lh3.googleusercontent.com/pw/AP1GczMqHg3DR0oJh2ccT5g70weLzgZDvAhG4KeBQggEwoeuAWI94w0XVt-y8DWBOSaSDCvD-l9HHUM2w1L7iZTslCRSLW2Dqo76RuFk-zu6xFtSkX7wTXw=w1920-h1080"></object>
              <object data="https://lh3.googleusercontent.com/pw/AP1GczPYO23Aga0aSYLxNJS6ZX41hAKdk-Y8YWTCUH5jpSBX4OaAnu39GU4PS2bawXSbLCH03-JXYZcdzcKWnRI0qsIAIf64I_lYkvZ3u5hek1uGs8SuWQQ=w1920-h1080"></object>
              <object data="https://lh3.googleusercontent.com/pw/AP1GczPVwzoCYRTbyLLpBDxVmhbb0AfCfwQu9EBm6rejqUHwEXa9tDNtTSmcQ3a4RveSo0sblqTPubRjnRhSuPaMP-j6yt3mXbRjsnO8jEiTjuSKmrs6N_U=w1920-h1080"></object>
              <object data="https://lh3.googleusercontent.com/pw/AP1GczMa-IXIbdxmtk7SBNTtjfPd_L95Y2xx0IlqK1verLsG-Vhb-mlJXJA2pxjhGQdWTYdeZnT9p-HSaLc7u2Q147jtTkA8c-tbMFZGAFkLjVz4hy_G-MY=w1920-h1080"></object>
              <object data="https://lh3.googleusercontent.com/pw/AP1GczNvycWtNdL5furs6CT7IgqwoawSLCQuDGASF_Kv4_HwWi3Fh-00jYNg4Z6iQDjHNrTIHSw4V4VzGcyQ8gnNzExynfbHZ7IMt3pTYzVfw2UW10idg3k=w1920-h1080"></object>
              <object data="https://lh3.googleusercontent.com/pw/AP1GczMMJ4FUZPBEP_93KxXo2mkEDcs3yNIF2PnoJD2aPcIS2Sw4NWtqKG0tI8Tf40hepDpk3HjmHDfWzx1fTuWyjlHWQrAlN1QCkze9QTYcVGdnwLN2pA8=w1920-h1080"></object>
              <object data="https://lh3.googleusercontent.com/pw/AP1GczOYPVp8pgc7HxewMtPuDupglGJcO2eZVyIXgN0f15TT6vYF4AkbvI52JNS1xncKVObIvBL6qTl_xR6lcd24XcAxxXSvOjg19uZqF0ed7ta-aX-5rxg=w1920-h1080"></object>
              <object data="https://lh3.googleusercontent.com/pw/AP1GczMMz2sDBFwmt2MhfOenNjh3IB6dVFpSF1OBjepM0EWKuMfCKdXqWusAiSO0pARWLucT96kIjyHgZTiZb0O9yY_ED3n-sgR3_yg8MwZQtAgKSzrL2CM=w1920-h1080"></object>
              <object data="https://lh3.googleusercontent.com/pw/AP1GczPbJXUpDPR85DVNj9go0xp1tOUmeXqgVmSVwKFEoVmndFpgLOy9Vcu91ZfpETrP43X9RcI3xEvShF1ql2vUovSBnmhWgk9_7RfqwmFKwXrRRf3I00E=w1920-h1080"></object>
              <object data="https://lh3.googleusercontent.com/pw/AP1GczOf40VN3l5YGUTNU4gGOdOjnISi4nNgSlI4kDTlpiz_6WnsEeYzYif8FSITrIjimytTldV4hCAgiOZ17mmCTI9_GkUp-Ji9EgyGSYb7k17Ffkj0iAc=w1920-h1080"></object>
              <object data="https://lh3.googleusercontent.com/pw/AP1GczNyZgEGUpKaDMzAceziVSlN2CRa_KhD6bP3wKuTg8muU2i7C9AG_hO-YY9ziwJxh1JGe-YrkTns8lfK__ezFZXEXH_T2-eGQXh8Xzl1jpk_Kpdh570=w1920-h1080"></object>
            </div>

            

          </div>
        </div>
      </div>
    </section><!-- End About Section -->

  </main><!-- End #main -->


{% endblock content %}