{% extends 'base.html' %}
{% load static %}

{% block title_tag %} Cold War Oral Histories {% endblock %}

{% block content %}

<main id="main">
    <!-- ======= Breadcrumbs ======= -->
    <div class="breadcrumbs" data-aos="fade-in">
      <div class="container">
        <h2>Cold War Oral Histories</h2>
      </div>
    </div><!-- End Breadcrumbs -->

    <!-- ======= About Section ======= -->
    <section id="about" class="about">
      <div class="container" data-aos="fade-up">

        <div class="row">
          <div class="col-lg-12 pt-4 pt-lg-0 content">
            <div style="float:right; width:30%;">
              <img src="{% static 'img/about-grid.png' %}" class="img-fluid" alt="">
            </div>
            <div style="float:none;">
              {{page.description|safe}}
            </div>
          </div>
        </div>
        <div class="col-lg-12 mt-5 pt-4 pt-lg-0 content text-center">
            <a href="https://www.youtube.com/playlist?list=PLn_3DgGSrFE2XA7aRE6YG4nkhVQPiCaN7" class="btn btn-danger btn-lg"><i class="fab fa-youtube"></i> Watch On YouTube</a>
        </div>
        </div>
      </div>
    </section><!-- End About Section -->

  </main><!-- End #main -->


{% endblock content %}